In [3]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.stats.outliers_influence import variance_inflation_factor
import time
import pyodbc
print(pyodbc.drivers())
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
from scipy import stats

['SQL Server', 'ODBC Driver 17 for SQL Server', 'SQL Server Native Client RDA 11.0', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)', 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)']

# SQL Connection

In [4]:
def create_sql_connection(server, database, username, password, driver='{ODBC Driver 17 for SQL Server}'):
    """
    Establish a connection to a SQL Server database using pyodbc.

    Parameters:
    - server (str): The SQL Server address (e.g., 'localhost' or server IP).
    - database (str): The name of the database you want to connect to.
    - username (str): SQL Server username.
    - password (str): SQL Server password.
    - driver (str): ODBC driver to use. Default is '{ODBC Driver 17 for SQL Server}'.s

    Returns:
    - conn: A pyodbc connection object if successful.
    """
    connection_string = f"""
        DRIVER={driver};
        SERVER={server};
        DATABASE={database};
        UID={username};
        PWD={password};
    """
    try:
        conn = pyodbc.connect(connection_string)
        print("Connection established successfully!")
        return conn
    except Exception as e:
        print(f"Failed to connect to the database. Error: {e}")
        return None

In [5]:
def query_data(conn, query):
    """
    Execute a SQL query and fetch results as a pandas DataFrame.
    
    Parameters:
    - conn: A pyodbc connection object.
    - query (str): The SQL query to be executed.
    
    Returns:
    - df: A pandas DataFrame containing the query result.
    """
    start_time = time.time()  # Start time measurement
    try:
        cursor = conn.cursor()
        cursor.execute(query)
        
        # Fetch all results from the query
        rows = cursor.fetchall()
        
        # Get column names from cursor
        columns = [desc[0] for desc in cursor.description]
        
        # Create a pandas DataFrame from the results
        df = pd.DataFrame.from_records(rows, columns=columns)
        
    except pyodbc.Error as e:
        print(f"Error executing query: {e}")
        return None
    
    finally:
        cursor.close()
    
    end_time = time.time()  # End time measurement
    execution_time = end_time - start_time  # Calculate execution time
    
    # Print the DataFrame and execution time
    print(f"Query executed in: {execution_time:.4f} seconds")
    
    return df

In [13]:
server = 'ROHIT'     
database = 'DiabetesData'  
username = 'rohit_kosamkar'       
password = 'September@2024' 

# Establish connection
conn = create_sql_connection(server, database, username, password)

Connection established successfully!

In [14]:
query = '''
select *, admissionsource.description as admission_source_des, admissiontype.description as admission_type_desc, discharge_disposition.description as discharge_desposition_desc 
from patient_data_validation
left join admissionsource on admissionsource.admission_source_id = patient_data_validation.admission_source_id
left join discharge_disposition on discharge_disposition.discharge_disposition_id = patient_data_validation.discharge_disposition_id
left join admissiontype on admissiontype.admission_type_id = patient_data_validation.admission_type_id
left join patient_readmission_status on patient_readmission_status.encounter_id = patient_data_validation.encounter_id'''

In [15]:
data_temp = query_data(conn, query)
data_temp.shape

Query executed in: 0.6590 seconds

(16766, 60)

In [16]:
data = data_temp.copy(deep=True)

# Data Cleaning

In [17]:
data.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide_metformin', 'glipizide_metformin',
       'glimepiride_pioglitazone', 'metformin_rosiglitazone',
       'metformin_pioglitazone', 'change', 'diabetesMed',
       'admission_source_id', 'description', 'discharge_disposition_id',
       'description', 'admission_type_id', 'description', 'encounter_id',
       'readmitted', 'admission_source_des', 'admission_type_desc',
       'discharge_desposition_desc'],
      dtype='object')

In [18]:
selected_col = ['encounter_id', 'race', 'gender', 'age', 'weight',
       
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide_metformin', 'glipizide_metformin',
       'glimepiride_pioglitazone', 'metformin_rosiglitazone',
       'metformin_pioglitazone', 'change', 'diabetesMed',
        'readmitted',
       'admission_source_des', 'admission_type_desc',
       'discharge_desposition_desc']

In [19]:
data = data[selected_col].iloc[:,1:]

In [20]:
data.columns

Index(['encounter_id', 'race', 'gender', 'age', 'weight', 'time_in_hospital',
       'payer_code', 'medical_specialty', 'num_lab_procedures',
       'num_procedures', 'num_medications', 'number_outpatient',
       'number_emergency', 'number_inpatient', 'diag_1', 'diag_2', 'diag_3',
       'number_diagnoses', 'max_glu_serum', 'A1Cresult', 'metformin',
       'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride',
       'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide_metformin', 'glipizide_metformin',
       'glimepiride_pioglitazone', 'metformin_rosiglitazone',
       'metformin_pioglitazone', 'change', 'diabetesMed', 'readmitted',
       'admission_source_des', 'admission_type_desc',
       'discharge_desposition_desc'],
      dtype='object')

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16766 entries, 0 to 16765
Data columns (total 49 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   encounter_id                16766 non-null  int64
 1   race                        16766 non-null  object
 2   gender                      16766 non-null  object
 3   age                         16766 non-null  object
 4   weight                      16766 non-null  object
 5   time_in_hospital            16766 non-null  int64
 6   payer_code                  16766 non-null  object
 7   medical_specialty           16766 non-null  object
 8   num_lab_procedures          16766 non-null  int64
 9   num_procedures              16766 non-null  int64
 10  num_medications             16766 non-null  int64
 11  number_outpatient           16766 non-null  int64
 12  number_emergency            16766 non-null  int64
 13  number_inpatient            16766 non-null  int64
 14  diag_1                      16766 non-null  object
 15  diag_2                      16766 non-null  object
 16  diag_3                      16766 non-null  object
 17  number_diagnoses            16766 non-null  int64
 18  max_glu_serum               203 non-null    object
 19  A1Cresult                   2969 non-null   object
 20  metformin                   16766 non-null  object
 21  repaglinide                 16766 non-null  object
 22  nateglinide                 16766 non-null  object
 23  chlorpropamide              16766 non-null  object
 24  glimepiride                 16766 non-null  object
 25  acetohexamide               16766 non-null  object
 26  glipizide                   16766 non-null  object
 27  glyburide                   16766 non-null  object
 28  tolbutamide                 16766 non-null  object
 29  pioglitazone                16766 non-null  object
 30  rosiglitazone               16766 non-null  object
 31  acarbose                    16766 non-null  object
 32  miglitol                    16766 non-null  object
 33  troglitazone                16766 non-null  object
 34  tolazamide                  16766 non-null  object
 35  examide                     16766 non-null  object
 36  citoglipton                 16766 non-null  object
 37  insulin                     16766 non-null  object
 38  glyburide_metformin         16766 non-null  object
 39  glipizide_metformin         16766 non-null  object
 40  glimepiride_pioglitazone    16766 non-null  object
 41  metformin_rosiglitazone     16766 non-null  object
 42  metformin_pioglitazone      16766 non-null  object
 43  change                      16766 non-null  object
 44  diabetesMed                 16766 non-null  object
 45  readmitted                  16766 non-null  object
 46  admission_source_des        16766 non-null  object
 47  admission_type_desc         16766 non-null  object
 48  discharge_desposition_desc  16766 non-null  object
dtypes: int64(9), object(40)
memory usage: 6.3+ MB

In [22]:
data.describe()

,encounter_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.676600e+04,16766.000000,16766.000000,16766.000000,16766.000000,16766.000000,16766.000000,16766.000000,16766.000000
mean,3.412654e+08,4.113981,42.058988,1.364249,16.833174,0.493201,0.296374,0.657342,8.145890
std,5.467821e+07,2.808440,21.621008,1.795453,8.071631,1.468929,1.331495,1.320160,1.610011
min,2.687635e+08,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,2.876768e+08,2.000000,29.000000,0.000000,11.000000,0.000000,0.000000,0.000000,8.000000
50%,3.348838e+08,3.000000,44.000000,1.000000,16.000000,0.000000,0.000000,0.000000,9.000000
75%,3.902342e+08,5.000000,58.000000,2.000000,21.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,14.000000,126.000000,6.000000,68.000000,40.000000,64.000000,16.000000,16.000000

In [23]:
data.isnull().sum()

encounter_id                      0
race                              0
gender                            0
age                               0
weight                            0
time_in_hospital                  0
payer_code                        0
medical_specialty                 0
num_lab_procedures                0
num_procedures                    0
num_medications                   0
number_outpatient                 0
number_emergency                  0
number_inpatient                  0
diag_1                            0
diag_2                            0
diag_3                            0
number_diagnoses                  0
max_glu_serum                 16563
A1Cresult                     13797
metformin                         0
repaglinide                       0
nateglinide                       0
chlorpropamide                    0
glimepiride                       0
acetohexamide                     0
glipizide                         0
glyburide                         0
tolbutamide                       0
pioglitazone                      0
rosiglitazone                     0
acarbose                          0
miglitol                          0
troglitazone                      0
tolazamide                        0
examide                           0
citoglipton                       0
insulin                           0
glyburide_metformin               0
glipizide_metformin               0
glimepiride_pioglitazone          0
metformin_rosiglitazone           0
metformin_pioglitazone            0
change                            0
diabetesMed                       0
readmitted                        0
admission_source_des              0
admission_type_desc               0
discharge_desposition_desc        0
dtype: int64

### Step 1
- Will drop max_glu_serum ,A1Cresult since 90% rows have null values

In [24]:
data.drop(columns={'max_glu_serum', 'A1Cresult'},inplace=True)

In [25]:
data.shape

(16766, 47)

In [26]:
data['number_emergency'] = data['number_emergency'].fillna(0)

In [27]:
data.isnull().sum()

encounter_id                  0
race                          0
gender                        0
age                           0
weight                        0
time_in_hospital              0
payer_code                    0
medical_specialty             0
num_lab_procedures            0
num_procedures                0
num_medications               0
number_outpatient             0
number_emergency              0
number_inpatient              0
diag_1                        0
diag_2                        0
diag_3                        0
number_diagnoses              0
metformin                     0
repaglinide                   0
nateglinide                   0
chlorpropamide                0
glimepiride                   0
acetohexamide                 0
glipizide                     0
glyburide                     0
tolbutamide                   0
pioglitazone                  0
rosiglitazone                 0
acarbose                      0
miglitol                      0
troglitazone                  0
tolazamide                    0
examide                       0
citoglipton                   0
insulin                       0
glyburide_metformin           0
glipizide_metformin           0
glimepiride_pioglitazone      0
metformin_rosiglitazone       0
metformin_pioglitazone        0
change                        0
diabetesMed                   0
readmitted                    0
admission_source_des          0
admission_type_desc           0
discharge_desposition_desc    0
dtype: int64

In [28]:
# Check for unique values in categorical columns
categorical_columns = data.select_dtypes(include=['object']).columns
print(len(categorical_columns))
for col in categorical_columns:
    print(f"{col}: {data[col].unique()}")

38
race: ['AfricanAmerican' 'Caucasian' 'Other' '?' 'Asian' 'Hispanic']
gender: ['Female' 'Male']
age: ['[50-60)' '[80-90)' '[60-70)' '[70-80)' '[90-100)' '[40-50)' '[30-40)'
 '[20-30)' '[10-20)' '[0-10)']
weight: ['?' '[75-100)' '[100-125)' '[50-75)' '[125-150)' '[150-175)' '[25-50)'
 '[175-200)' '>200' '[0-25)']
payer_code: ['DM' 'PO' 'MC' 'MD' 'BC' 'HM' 'SP' '?' 'OG' 'CP' 'UN' 'CM' 'SI' 'CH' 'MP'
 'OT' 'WC' 'FR']
medical_specialty: ['?' 'Emergency/Trauma' 'Radiologist' 'InternalMedicine' 'Orthopedics'
 'Surgery-General' 'Family/GeneralPractice' 'Oncology' 'Cardiology'
 'Nephrology' 'Hematology' 'Gynecology' 'Podiatry'
 'ObstetricsandGynecology' 'Orthopedics-Reconstructive' 'Urology'
 'Radiology' 'Gastroenterology' 'Psychiatry' 'Hospitalist'
 'Surgery-Vascular' 'Ophthalmology' 'Pulmonology' 'Psychology'
 'Surgery-Neuro' 'Pediatrics' 'Neurology' 'InfectiousDiseases'
 'Endocrinology' 'Surgery-Cardiovascular' 'Otolaryngology'
 'Surgery-Cardiovascular/Thoracic' 'Surgery-Thoracic' 'SurgicalSpecialty'
 'Surgeon' 'PhysicianNotFound' 'Surgery-Plastic' 'Rheumatology'
 'Endocrinology-Metabolism' 'DCPTEAM' 'PhysicalMedicineandRehabilitation'
 'Resident' 'Hematology/Oncology']
diag_1: ['402' '327' '428' '38' '564' '802' '486' '276' '414' '576' '616' '427'
 '250' '789' '401' '682' '493' '197' '410' '491' '250.8' '152' '250.81'
 '715' '785' '998' '250.6' '189' '440' '153' '238' '786' '560' '250.82'
 '162' '569' '996' '724' '574' '780' '528' '577' '729' '345' '465' '239'
 '530' '250.11' '536' '250.2' '458' '455' '250.02' '625' '644' '515' '562'
 '211' '850' '278' '252' '250.4' '535' '158' '730' '646' '568' '575' '592'
 '721' '511' '415' '296' '250.33' '250.7' '531' '620' '433' '642' '466'
 '805' 'V57' '507' '461' '426' '337' '451' '707' '435' '348' '443' '726'
 '8' '599' '424' '618' '552' '572' '157' '280' '338' '198' '285' '453'
 '253' '434' '518' '566' '403' '820' '340' '250.13' '590' '959' '813'
 '537' '202' '295' '933' '274' '482' '595' '578' '977' '250.1' '298' '188'
 '824' '241' '812' '250.12' '836' '997' '174' '250.03' '733' '958' '411'
 '332' '155' '473' '600' '550' '584' '557' '513' '801' '444' '790' '860'
 '331' '456' '664' '626' '781' '681' '3' '250.01' '204' '852' '808' '481'
 '413' '510' '288' '782' '346' '475' '556' '79' '558' '540' '608' '648'
 '240' '784' '441' '378' '652' '714' '881' '995' '654' '710' '380' '992'
 '722' '788' '843' '532' '382' '191' '303' '?' '490' '292' '284' '437'
 '716' '147' '823' '175' '447' '553' 'V58' '214' '150' '283' '185' '723'
 '967' 'V53' '398' '519' 'V55' '787' '571' '290' '156' '242' '381' '396'
 '844' '851' '250.22' '632' '585' '9' '70' '196' '47' '567' '983' '376'
 '386' '611' '617' '179' '573' '250.42' '999' '357' '711' '294' '799'
 '514' '223' '656' '94' '273' '627' '356' '250.83' '593' '969' '846' '397'
 '218' '924' '728' '11' '804' '161' '965' '594' '66' '404' '922' '112'
 '718' '704' '621' '586' '297' '438' '478' '669' '277' '633' '680' '54'
 '835' '154' '354' '429' '23' '485' '333' '282' '534' '291' '641' '250.9'
 '658' '607' '205' '854' '962' '287' '300' '220' '459' '457' '492' '368'
 '867' '425' '182' '746' '151' '643' '416' '747' '821' '271' '920' '275'
 '602' '236' '311' '431' '541' '494' '237' '596' '353' '512' '873' '588'
 '964' 'V71' '432' '825' '555' '233' '783' '423' '551' '601' '53' '892'
 '719' '470' '619' '496' '442' '286' '310' '58' '952' '200' '516' '193'
 '807' 'V56' '201' '420' '527' '794' '301' '795' '529' '279' '696' '695'
 '565' '882' '991' '263' '355' '250.32' '693' '250.92' '659' '822' '591'
 '281' '304' '446' '309' '845' '351' '163' '649' '756' '709' '192' '430'
 '203' '487' '312' '875' '615' '657' '725' '936' '480' '705' '225' '226'
 '614' '864' '383' '792' '195' '35' '322' '171' '227' '891' '661' '972'
 '603' '966' '210' '890' '686' '135' '694' '289' '308' '307' '863' '814'
 '117' '945' '832' '215' '720' '110' '436' '759' '604' '944' '622' '796'
 '815' '727' '349' '793' '421' '255' '806' '738' '293' '244' '306' '230'
 '751' '583' '417' '394' 'V54' '358' '183' '928' '41' '82' '853' '847'
 '362' '350' '570' '660' '663' '133' '975' '42' '816' '833' '199' '840'
 '391' '305' '690' '971' '5' '914' '970' '941' '861' '172' '452' '142'
 '581' '878' '228' '250.52' '379' '10' '208' '647' '934' '524' '52' '866'
 '49' 'V51' '986' '831' '377' '893' '336']
diag_2: ['496' '780' '486' '135' '250.02' '491' '558' '413' '585' '250' '438'
 'V58' '427' '562' '799' '599' '786' '156' '426' '730' '425' '197' '790'
 '414' '571' '285' '276' '998' '707' '458' '511' '272' '401' '568' '263'
 '493' '402' '280' '428' '162' '403' '357' '519' '185' '250.92' '38' '112'
 '250.7' '250.12' '618' '648' '682' '482' '412' '404' '250.01' '574' '569'
 '277' 'E932' '789' '250.6' '705' '550' '590' '410' '577' '286' '292'
 '991' '440' '518' 'V10' '785' '155' '411' '989' '820' '424' '416' '441'
 '41' '584' '295' '278' '788' 'V16' '560' '282' '281' '996' '305' '198'
 '466' '787' '415' '710' '250.03' '196' '332' '626' '304' '530' '595'
 '893' '157' '261' '301' '287' '802' '309' '473' '490' '242' '784' '300'
 '591' 'V49' '535' '250.4' '453' '217' '191' '342' '553' '250.42' '847'
 '715' '719' 'E928' 'V42' '250.83' '396' 'E878' '447' '70' 'E888' '680'
 '536' '303' 'V15' '444' '250.8' '507' '997' '443' '596' '578' '250.41'
 '576' '150' '291' '183' '567' '433' '557' '581' '492' '572' 'E885' '522'
 '202' '420' '805' 'V45' 'V85' '244' '725' '8' 'V43' '205' '294' 'V12'
 '959' 'E821' 'V62' '552' '759' '394' '625' '296' '600' '311' '317' '153'
 '807' '204' '189' '337' '711' '250.51' '782' '344' '472' '42' '250.82'
 '494' '383' '293' '250.13' '225' '995' '214' '575' '592' '515' '681'
 '642' '781' '794' '?' 'V18' '348' '434' '250.22' '288' '603' '94' '455'
 '729' '274' '435' '386' '27' '728' '284' '250.81' '753' 'E816' '421'
 '454' '250.53' '722' '79' '255' '564' '290' 'V54' 'E849' '199' '9' '836'
 '253' '593' '275' '250.52' '360' '379' '314' '588' '611' '713' '235'
 '783' '338' 'E939' '211' '922' '218' '355' '813' '531' '865' '709' '724'
 '537' '283' '556' '340' '327' '714' '923' '924' 'V09' '397' '459' '792'
 'V69' '510' '442' '831' '726' '850' '555' '478' '154' '920' '840' '670'
 '905' '517' '345' '465' '823' '579' '583' '644' '867' '870' '289' 'E947'
 '864' '733' '812' '195' '319' '423' '717' '437' '721' '215' '881' '262'
 'E934' 'E884' '117' 'E812' '712' '446' 'V55' '616' '359' '514' '808'
 '512' '388' '852' '331' 'V66' '958' '607' '268' 'E935' '723' '352' '617'
 '432' '909' '333' '822' '573' '131' '451' 'V02' '208' '627' '999' '894'
 '737' '731' '647' '299' '114' '621' '745' '934' '570' '736' '260' '238'
 '461' '250.2' '853' '816' '527' '233' '362' '620' '200' '746' '250.5'
 '456' '860' '40' '398' '470' '250.11' '532' '815' '694' '851' '842' '716'
 '7' '251' '448' 'E880' '540' '614' '368' '346' '756' '312' '358' '429'
 '594' '751' '806' '485' 'E881' '880' '53' '203' '377' '241' '844' '481'
 '354' '151' '201' '738' 'V86' '487' '619' '349' 'V44' '696' '659' '356'
 '882' '341' '310' '750' '601' '873' '608' '174' '586' '180' '422' '318'
 'E887' '462' '972' '604' 'E945' '821' '523' 'V17' '747' '516' '534'
 'E879' '863' '484' '649' '273' '250.21' '824' '250.3' '250.1' '380' '913'
 'V46' '837' '323' '298' 'E853' '793' '661' '110' '907' '252' '138' '365'
 '270' '892' '791' '335' '188' '152' '727' '193' '825' '54' '602' '430'
 '336' '250.33' 'V64' '810' '269' '945' '495' '240' '883' 'E931' '665'
 'E930' '796' '566' '460' '758' '524' '891' '343' '942' '866' '364' '634'
 'E937' '245' '66' '801' 'E883' 'V63' '623' '266' '431' 'E917' '123' '324'
 '884' '250.9' '250.32' '742' '308' 'V60' '741' '250.93' 'E906' '382'
 'E942' '826' 'E936' '521' '969' '910' '474' '652' '452' '369' 'E927'
 '250.91' '843' 'E858' '480' '320' '686' '927' '693']
diag_3: ['413' '493' '585' '599' '428' '825' '535' '401' '414' '584' '496' 'V58'
 '438' 'V49' '558' '250' '276' '459' '518' '250.02' '707' '560' '682' '54'
 'V08' '427' 'E878' 'V43' '296' '424' '357' '412' '783' '440' '787' '799'
 '403' '244' '287' '331' '153' '788' 'V12' '250.92' '278' '250.6' '250.51'
 '995' '714' '780' '617' '720' '250.01' '507' '274' '289' '327' '680'
 '280' '426' '536' '511' '425' '250.93' '250.82' '998' '572' '577' '272'
 '305' '579' '591' '423' '263' '512' '304' '681' '285' '239' '654' '203'
 'E885' '564' '595' '286' '345' '785' '562' '600' '736' '571' '478' '333'
 '197' '79' '530' '486' '250.42' '41' '696' '250.7' '492' 'V45' 'V62'
 '433' '733' '786' '789' '458' '342' '782' '112' '473' '294' '593' 'E912'
 '531' '404' '402' 'V42' 'V15' 'V09' '966' '996' '?' '292' '715' '515'
 '466' '303' '790' '307' '610' '728' '847' '719' '397' '784' '517' '491'
 '443' '295' '288' '211' '291' '781' 'E884' '250.8' '721' '802' 'E955'
 '218' '807' '185' '378' '997' 'E935' '250.43' '240' '665' '731' '578'
 'V66' '711' '453' '250.4' '38' 'E942' 'E812' '290' 'E849' '396' '463'
 '311' '437' '416' '411' '656' '250.12' '410' '70' 'V27' '794' '319' '277'
 'E888' '174' '501' '590' '340' '710' '332' '596' '344' 'V46' '284' '569'
 'E879' '250.81' '8' '729' '199' '348' 'V55' '382' '456' '845' '648' '614'
 '576' '693' '275' '922' '300' '570' '250.22' '873' '53' '204' '722' '519'
 '618' '575' '582' '705' 'V54' '337' '282' 'E980' '298' '281' '429' '183'
 '301' '601' '574' '9' '557' '592' '724' '198' '692' '730' '293' '435'
 '543' '242' '642' 'V06' '447' '163' 'E864' 'V61' '726' '598' '537' 'E932'
 '365' '442' '441' '356' '250.1' '217' '616' '253' 'E939' '179' '920'
 '892' '362' '250.41' '573' '117' 'V03' '202' '162' 'V17' '465' '586'
 '661' '611' '737' '532' 'V44' '279' '94' '583' '805' '455' '588' '626'
 '270' 'E934' '250.52' '238' 'V64' '659' '351' '255' '136' '959' '958'
 'V85' '388' '346' 'E917' '434' '514' '196' '759' 'V60' '704' 'E937' '664'
 '923' '738' '250.03' '338' 'V10' '716' '991' '389' '556' '500' '353'
 '604' '568' '228' '647' 'E947' '810' '746' '482' '138' '150' '494' '358'
 '252' '172' '877' '924' '157' '368' '405' '866' '881' '969' '391' 'V02'
 '380' '686' '555' '525' 'E825' 'E928' '256' 'E930' '553' '446' '753'
 '658' '369' '820' '534' '625' '643' '383' '250.13' '652' 'V18' '310'
 '597' '343' 'E880' '444' '208' 'E933' '621' '812' '627' '952' '317' '742'
 '495' '852' '398' '314' '154' '620' '394' '808' '490' '550' '246'
 '250.53' '821' '814' '415' '581' '182' '155' '867' '192' 'E943' '508' '7'
 '594' 'V53' '366' '135' '309' 'E950' '462' '431' '510' '251' '649' '533'
 '376' '624' '131' '567' '461' '477' '487' '913' '999' '457' '464' 'V14'
 '241' 'E818' '355' '752' '905' '205' '934' '795' '865' '826' '669' '233'
 '454' '262' '552' '653' '223' 'E887' '723' 'E850' '250.5' 'E931' '989'
 'E881' '152' '141' '349' '875' '745' '312' '910' '822' '840' '110' '864'
 '916' '948' '751' '189' '386' '928' 'E900' '42' '201' '907' '88' '151'
 '188' '268' '850' '619' '933' '702' 'V16' '824' '522' 'E901' '712' '215'
 '860' '694' '227' '445' '538' '980' '266' '823' '834' '793' '965' '758'
 '384' '516' '448' '283' '318' '883' '713' 'E819' 'V86' '175' '49' '836'
 '876' '451' '607' '646' '861' '725' '372' '35' '250.83' '844' '641' '909'
 '250.9' '214' '336' '230' '57' '851' '216' '258' 'E938' '815' '917' '747'
 '430' '421' 'E855' 'E944' '791' '660' '943' '34' '523' '718' '297' '271'
 '727' '273' 'E854' '379' '623' '655' '942' 'E927' '912' '527' '521' '796'
 'E920' '323' '200' '816' '250.91' '480' '580' '14' '359' 'E916' '225'
 'E946' '801' '750' '792' '370' '671' '971' '161' '220' '698' '565' '709'
 '334']
metformin: ['Steady' 'No' 'Down' 'Up']
repaglinide: ['No' 'Steady' 'Up' 'Down']
nateglinide: ['No' 'Steady' 'Up' 'Down']
chlorpropamide: ['No' 'Steady']
glimepiride: ['No' 'Steady' 'Up' 'Down']
acetohexamide: ['No']
glipizide: ['No' 'Steady' 'Down' 'Up']
glyburide: ['No' 'Steady' 'Up' 'Down']
tolbutamide: ['No']
pioglitazone: ['No' 'Steady' 'Up' 'Down']
rosiglitazone: ['No' 'Steady' 'Up' 'Down']
acarbose: ['No' 'Steady']
miglitol: ['No' 'Steady']
troglitazone: ['No']
tolazamide: ['No']
examide: ['No']
citoglipton: ['No']
insulin: ['Steady' 'No' 'Up' 'Down']
glyburide_metformin: ['No' 'Steady']
glipizide_metformin: ['No']
glimepiride_pioglitazone: ['No']
metformin_rosiglitazone: ['No' 'Steady']
metformin_pioglitazone: ['No' 'Steady']
change: ['Ch' 'No']
diabetesMed: ['Yes' 'No']
readmitted: ['YES' 'NO']
admission_source_des: ['Emergency Room' 'Physician Referral' 'NULL' 'Transfer from a hospital'
 'Transfer from another health care facility' 'Normal Delivery'
 'HMO Referral' 'Clinic Referral' 'Not Available'
 'Transfer from a Skilled Nursing Facility (SNF)'
 'Transfer from hospital inpt/same fac reslt in a sep claim'
 'Court/Law Enforcement' 'Transfer from Ambulatory Surgery Center'
 'Sick Baby']
admission_type_desc: ['Emergency' 'Elective' 'Urgent' 'NULL' 'Not Available' 'Trauma Center'
 'Not Mapped' 'Newborn']
discharge_desposition_desc: ['Discharged to home' 'Discharged/transferred to SNF'
 'Discharged/transferred to home with home health service'
 'Discharged/transferred to another rehab fac including rehab units of a hospital .'
 'Discharged/transferred to another short term hospital' 'Hospice / home'
 'Discharged/transferred to ICF' 'Hospice / medical facility'
 'Discharged/transferred to another type of inpatient care institution'
 'Left AMA' 'Expired'
 'Discharged/transferred to a long term care hospital.'
 'Discharged/transferred to a nursing facility certified under Medicaid but not certified under Medicare.'
 'Discharged/transferred/referred to a psychiatric hospital of psychiatric distinct part unit of a hospital'
 'Not Mapped'
 'Discharged/transferred within this institution to Medicare approved swing bed'
 'Admitted as an inpatient to this hospital' 'NULL'
 'Discharged/transferred to a federal health care facility.'
 'Expired at home. Medicaid only, hospice.']

In [29]:
data['race'].value_counts()

race
Caucasian          12946
AfricanAmerican     2221
Hispanic             479
?                    477
Other                440
Asian                203
Name: count, dtype: int64

In [30]:
# race (~2k values replaced with 'Other' category)
data['race'] = data['race'].replace('?','Other')
data['race'].value_counts()

race
Caucasian          12946
AfricanAmerican     2221
Other                917
Hispanic             479
Asian                203
Name: count, dtype: int64

In [31]:
# gender (Only 3 values with "Unknown/Invalid" entry replacing it with the 'Female' as female proportion in the dataset is on higher side)

data['gender'] = data['gender'].replace('Unknown/Invalid', 'Female')
data['gender'].value_counts()

gender
Female    8898
Male      7868
Name: count, dtype: int64

In [32]:
data['admission_type_desc'].value_counts()

admission_type_desc
Emergency        10299
Elective          3520
Urgent            2454
NULL               403
Not Mapped          56
Not Available       24
Trauma Center        8
Newborn              2
Name: count, dtype: int64

In [ ]:
# # admission_type_description -  Contains 4785 Null values, replacing it with the existing category "Not Available". Also Not Mapped replace with same category 
# data['admission_type_desc'].value_counts(dropna=False)
# data['admission_type_desc'] = data['admission_type_desc'].fillna('Other').replace({'Not Mapped': 'Not Available','NULL': 'Not Available'})
# data['admission_type_desc'].value_counts(dropna=False)

In [33]:
pd.crosstab(data['admission_type_desc'], data['readmitted'])

readmitted             NO   YES
admission_type_desc
Elective             2425  1095
Emergency            6046  4253
NULL                  273   130
Newborn                 2     0
Not Available          19     5
Not Mapped             45    11
Trauma Center           8     0
Urgent               1513   941

In [34]:
# Define rare categories
rare_categories = ['Trauma Center', 'Newborn','NULL','Not Available','Not Mapped']

# Replace rare categories with 'Other'
data['admission_type_desc'] = data['admission_type_desc'].apply(
    lambda x: 'Other' if x in rare_categories else x
)

data['admission_type_desc'].value_counts()

admission_type_desc
Emergency    10299
Elective      3520
Urgent        2454
Other          493
Name: count, dtype: int64

In [35]:
# discharge_disposition_description
data['discharge_desposition_desc'].value_counts(dropna= False)

discharge_desposition_desc
Discharged to home                                                                                           10346
Discharged/transferred to SNF                                                                                 2649
Discharged/transferred to home with home health service                                                       2299
Discharged/transferred to another rehab fac including rehab units of a hospital .                              353
Discharged/transferred to another short term hospital                                                          316
Expired                                                                                                        231
Hospice / home                                                                                                 112
Left AMA                                                                                                       106
Hospice / medical facility                                                                                      96
Discharged/transferred to another type of inpatient care institution                                            91
Discharged/transferred to ICF                                                                                   62
Discharged/transferred to a long term care hospital.                                                            51
Discharged/transferred/referred to a psychiatric hospital of psychiatric distinct part unit of a hospital       22
Discharged/transferred to a nursing facility certified under Medicaid but not certified under Medicare.         12
NULL                                                                                                             8
Not Mapped                                                                                                       5
Admitted as an inpatient to this hospital                                                                        3
Discharged/transferred within this institution to Medicare approved swing bed                                    2
Discharged/transferred to a federal health care facility.                                                        1
Expired at home. Medicaid only, hospice.                                                                         1
Name: count, dtype: int64

In [36]:
## making subcategories for the discharge disposition
discharge_categories = {
    #Discharged to Home
    'Discharged to home': 'Discharged to Home',
    'Discharged/transferred to home with home health service': 'Discharged to Home',
    'Discharged/transferred to home under care of Home IV provider': 'Discharged to Home',
    
    #Transfers to Other Healthcare Facilities
    'Discharged/transferred to SNF': 'Transfers to Other Healthcare Facilities',
    'Discharged/transferred to another short term hospital': 'Transfers to Other Healthcare Facilities',
    'Discharged/transferred to another rehab fac including rehab units of a hospital .': 'Transfers to Other Healthcare Facilities',
    'Discharged/transferred to another type of inpatient care institution': 'Transfers to Other Healthcare Facilities',
    'Discharged/transferred to ICF': 'Transfers to Other Healthcare Facilities',
    'Discharged/transferred to a long term care hospital.': 'Transfers to Other Healthcare Facilities',
    'Discharged/transferred/referred to a psychiatric hospital of psychiatric distinct part unit of a hospital': 'Transfers to Other Healthcare Facilities',
    'Discharged/transferred to a federal health care facility.': 'Transfers to Other Healthcare Facilities',
    'Discharged/transferred within this institution to Medicare approved swing bed': 'Transfers to Other Healthcare Facilities',
    'Discharged/transferred to a nursing facility certified under Medicaid but not certified under Medicare.': 'Transfers to Other Healthcare Facilities',
    'Neonate discharged to another hospital for neonatal aftercare': 'Transfers to Other Healthcare Facilities',
    'Discharged/transferred/referred to this institution for outpatient services': 'Transfers to Other Healthcare Facilities',
    'Discharged/transferred/referred another institution for outpatient services': 'Transfers to Other Healthcare Facilities',

    #Expired
    'Expired': 'Expired',
    'Expired at home. Medicaid only, hospice.': 'Expired',
    'Expired in a medical facility. Medicaid only, hospice.': 'Expired',
    
    #Hospice Care
    'Hospice / home': 'Hospice Care',
    'Hospice / medical facility': 'Hospice Care',
    
    #AMA (Against Medical Advice)
    'Left AMA': 'AMA (Against Medical Advice)',
    
    #Other
    'Not Mapped': 'Other',
    'NaN':'Other',
    'Still patient or expected to return for outpatient services': 'Other',
    'Admitted as an inpatient to this hospital': 'Other',
    
    np.nan: 'Other'
}

In [37]:
# Expired type not in target
pd.crosstab(data['discharge_desposition_desc'].map(discharge_categories), data['readmitted'])

readmitted                                  NO   YES
discharge_desposition_desc
AMA (Against Medical Advice)                57    49
Discharged to Home                        7866  4779
Expired                                    232     0
Hospice Care                               184    24
Other                                        6     2
Transfers to Other Healthcare Facilities  1981  1578

In [38]:
data['discharge_category'] = data['discharge_desposition_desc'].map(discharge_categories).fillna('Other')
data['discharge_category'].value_counts(dropna=False)

discharge_category
Discharged to Home                          12645
Transfers to Other Healthcare Facilities     3559
Expired                                       232
Hospice Care                                  208
AMA (Against Medical Advice)                  106
Other                                          16
Name: count, dtype: int64

In [39]:
# admission_source_description

data['admission_source_des'].value_counts(dropna=False)

admission_source_des
Emergency Room                                               11205
Physician Referral                                            4663
Transfer from a hospital                                       335
NULL                                                           267
Transfer from a Skilled Nursing Facility (SNF)                 144
Transfer from another health care facility                     107
Clinic Referral                                                 14
Transfer from hospital inpt/same fac reslt in a sep claim       10
Court/Law Enforcement                                            6
Not Available                                                    6
HMO Referral                                                     5
Transfer from Ambulatory Surgery Center                          2
Normal Delivery                                                  1
Sick Baby                                                        1
Name: count, dtype: int64

In [40]:
# ## making subcategories for the admission source 

admission_source_categories = {
    'Emergency Room': 'Emergency Admission',
    'Court/Law Enforcement': 'Emergency Admission',
    
    'Physician Referral': 'Physician Referral',
    'HMO Referral': 'Physician Referral',
    'Clinic Referral': 'Physician Referral',
    
    'Transfer from a hospital': 'Transfers from Other Facilities',
    'Transfer from another health care facility': 'Transfers from Other Facilities',
    'Transfer from a Skilled Nursing Facility (SNF)': 'Transfers from Other Facilities',
    'Transfer from hospital inpt/same fac reslt in a sep claim': 'Transfers from Other Facilities',
    'Transfer from critial access hospital': 'Transfers from Other Facilities',
    'Transfer from Ambulatory Surgery Center': 'Transfers from Other Facilities',
    
    'Extramural Birth': 'Other',
    'Normal Delivery': 'Other',
    'Sick Baby': 'Other',
    
    np.nan: 'Other',
    
    'Not Mapped': 'Other',
    'Not Available': 'Other'
}

In [41]:
data['admission_category'] = data['admission_source_des'].map(admission_source_categories).fillna('Other')
data['admission_category'].value_counts(dropna=False)

admission_category
Emergency Admission                11211
Physician Referral                  4682
Transfers from Other Facilities      598
Other                                275
Name: count, dtype: int64

In [42]:
pd.crosstab(data['admission_category'], data['readmitted'])

readmitted                         NO   YES
admission_category
Emergency Admission              6595  4616
Other                             188    87
Physician Referral               3129  1553
Transfers from Other Facilities   419   179

In [43]:
data['medical_specialty'].value_counts(dropna=False)

medical_specialty
?                                    11326
Emergency/Trauma                      1673
InternalMedicine                      1156
Radiologist                            524
Cardiology                             487
Family/GeneralPractice                 415
Surgery-General                        368
Orthopedics                            209
Nephrology                              72
Pulmonology                             48
Gastroenterology                        46
Urology                                 35
Orthopedics-Reconstructive              34
ObstetricsandGynecology                 31
Psychiatry                              30
Hematology                              28
Surgery-Vascular                        24
Oncology                                23
Surgery-Cardiovascular/Thoracic         23
Neurology                               20
Gynecology                              19
SurgicalSpecialty                       19
Podiatry                                16
Hospitalist                             15
Surgeon                                 14
Surgery-Thoracic                        14
Psychology                              13
Pediatrics                              12
InfectiousDiseases                       8
Ophthalmology                            8
Surgery-Neuro                            8
Endocrinology-Metabolism                 8
Otolaryngology                           7
Radiology                                6
Surgery-Cardiovascular                   6
DCPTEAM                                  6
Rheumatology                             3
PhysicianNotFound                        3
Endocrinology                            2
Surgery-Plastic                          2
PhysicalMedicineandRehabilitation        2
Resident                                 2
Hematology/Oncology                      1
Name: count, dtype: int64

In [44]:
del data['medical_specialty']

In [45]:
# Deleting columns examide and citoglipton as both columns has only "No" entry
print(data['citoglipton'].value_counts())
print(data['examide'].value_counts())

data.drop(columns={'examide', 'citoglipton'}, inplace=True)

citoglipton
No    16766
Name: count, dtype: int64
examide
No    16766
Name: count, dtype: int64

In [46]:
data.shape

(16766, 46)

In [47]:
data.head()

,encounter_id,race,gender,age,weight,time_in_hospital,payer_code,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,insulin,glyburide_metformin,glipizide_metformin,glimepiride_pioglitazone,metformin_rosiglitazone,metformin_pioglitazone,change,diabetesMed,readmitted,admission_source_des,admission_type_desc,discharge_desposition_desc,discharge_category,admission_category
0,268763496,AfricanAmerican,Female,[50-60),?,3,DM,14,0,12,1,0,1,402,496,413,9,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,YES,Emergency Room,Emergency,Discharged to home,Discharged to Home,Emergency Admission
1,268777020,Caucasian,Male,[50-60),?,4,PO,37,1,20,0,0,0,327,780,493,9,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO,Emergency Room,Emergency,Discharged to home,Discharged to Home,Emergency Admission
2,268780680,Caucasian,Female,[80-90),?,4,MC,63,0,29,0,1,1,428,486,585,9,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,NO,Emergency Room,Emergency,Discharged/transferred to SNF,Transfers to Other Healthcare Facilities,Emergency Admission
3,268784670,AfricanAmerican,Female,[50-60),?,2,MD,72,1,18,0,0,0,38,496,599,9,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO,Emergency Room,Emergency,Discharged to home,Discharged to Home,Emergency Admission
4,268787766,Caucasian,Female,[60-70),?,1,MC,28,0,13,0,0,0,564,135,428,9,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,Yes,NO,Emergency Room,Emergency,Discharged to home,Discharged to Home,Emergency Admission

In [48]:
pd.crosstab(data['payer_code'],data['readmitted'])

readmitted    NO   YES
payer_code
?           1550   693
BC           831   326
CH            58    24
CM           395   225
CP           424   169
DM            65    61
FR             1     0
HM           826   707
MC          4285  3135
MD           613   361
MP            13    25
OG           180   128
OT            25    11
PO           110    39
SI             1     0
SP           743   416
UN           183   113
WC            28     2

In [49]:
data['payer_code'] = data['payer_code'].replace('?','Other')

In [50]:
data.shape

(16766, 46)

In [51]:
data[(data['number_outpatient']>0) & (data['number_inpatient'] > 0)].shape

(1710, 46)

## Outlier Treatment

In [52]:
# def treat_outliers(df, columns):
   
#     for column in columns:
#         Q1 = df[column].quantile(0.25)
#         Q3 = df[column].quantile(0.75)
#         IQR = Q3 - Q1
#         lower_bound = Q1 - 1.5 * IQR
#         upper_bound = Q3 + 1.5 * IQR
#         # Cap outliers
#         df[column] = np.where(df[column] < lower_bound, lower_bound, df[column])
#         df[column] = np.where(df[column] > upper_bound, upper_bound, df[column])
#     return df

In [53]:
# data = treat_outliers(data, ['num_lab_procedures','num_medications',])
# data.describe()

In [54]:
# Box-Cox transformation
data['number_outpatient_boxcox'], _ = stats.boxcox(data['number_outpatient'] + 1)
data['number_inpatient_boxcox'], _ = stats.boxcox(data['number_inpatient'] + 1)

In [55]:
# Log Transformation
data['number_outpatient_treated'] = np.log1p(data['number_outpatient'])
data['number_inpatient_treated'] = np.log1p(data['number_inpatient'])

In [56]:
data.describe()

,encounter_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,number_outpatient_boxcox,number_inpatient_boxcox,number_outpatient_treated,number_inpatient_treated
count,1.676600e+04,16766.000000,16766.000000,16766.000000,16766.000000,16766.000000,16766.000000,16766.000000,16766.000000,16766.000000,16766.000000,16766.000000,16766.000000
mean,3.412654e+08,4.113981,42.058988,1.364249,16.833174,0.493201,0.296374,0.657342,8.145890,0.050680,0.136874,0.225775,0.333740
std,5.467821e+07,2.808440,21.621008,1.795453,8.071631,1.468929,1.331495,1.320160,1.610011,0.098564,0.191407,0.486705,0.518125
min,2.687635e+08,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,2.876768e+08,2.000000,29.000000,0.000000,11.000000,0.000000,0.000000,0.000000,8.000000,0.000000,0.000000,0.000000,0.000000
50%,3.348838e+08,3.000000,44.000000,1.000000,16.000000,0.000000,0.000000,0.000000,9.000000,0.000000,0.000000,0.000000,0.000000
75%,3.902342e+08,5.000000,58.000000,2.000000,21.000000,0.000000,0.000000,1.000000,9.000000,0.000000,0.366708,0.000000,0.693147
max,4.438672e+08,14.000000,126.000000,6.000000,68.000000,40.000000,64.000000,16.000000,16.000000,0.250403,0.478625,3.713572,2.833213

In [57]:
del data['number_outpatient_treated']
del data['number_inpatient_treated']

In [58]:
del data['number_outpatient']

del data['number_inpatient']

In [59]:
data.describe()

,encounter_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_emergency,number_diagnoses,number_outpatient_boxcox,number_inpatient_boxcox
count,1.676600e+04,16766.000000,16766.000000,16766.000000,16766.000000,16766.000000,16766.000000,16766.000000,16766.000000
mean,3.412654e+08,4.113981,42.058988,1.364249,16.833174,0.296374,8.145890,0.050680,0.136874
std,5.467821e+07,2.808440,21.621008,1.795453,8.071631,1.331495,1.610011,0.098564,0.191407
min,2.687635e+08,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
25%,2.876768e+08,2.000000,29.000000,0.000000,11.000000,0.000000,8.000000,0.000000,0.000000
50%,3.348838e+08,3.000000,44.000000,1.000000,16.000000,0.000000,9.000000,0.000000,0.000000
75%,3.902342e+08,5.000000,58.000000,2.000000,21.000000,0.000000,9.000000,0.000000,0.366708
max,4.438672e+08,14.000000,126.000000,6.000000,68.000000,64.000000,16.000000,0.250403,0.478625

In [60]:
data['weight'].value_counts()

weight
?            16301
[75-100)       183
[50-75)        116
[100-125)      107
[125-150)       30
[25-50)         15
[150-175)        8
[175-200)        3
[0-25)           2
>200             1
Name: count, dtype: int64

In [61]:
del data['weight']

# Data Preprocessing

In [62]:
# # Check for unique values in categorical columns
# categorical_columns = data.select_dtypes(include=['object']).columns
# print(len(categorical_columns))
# for col in categorical_columns:
#     print(f"{col}: {data[col].unique()}")

In [64]:
data.drop(columns={'metformin_rosiglitazone','metformin_pioglitazone',
                   'diag_1','diag_2','diag_3','discharge_desposition_desc','admission_source_des' }, inplace=True)

In [63]:
# # Check for unique values in categorical columns
# categorical_columns = data.select_dtypes(include=['object']).columns
# print(len(categorical_columns))
# for col in categorical_columns:
#     print(f"{col}: {data[col].unique()}")

In [65]:
# Function to clean the age column using regex
def clean_age_column(age_series):
    return age_series.str.replace(r'[\[\]() ]', '', regex=True)

# Cleaning the age column
data['age'] = clean_age_column(data['age'])
data.head()

,encounter_id,race,gender,age,time_in_hospital,payer_code,num_lab_procedures,num_procedures,num_medications,number_emergency,number_diagnoses,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,insulin,glyburide_metformin,glipizide_metformin,glimepiride_pioglitazone,change,diabetesMed,readmitted,admission_type_desc,discharge_category,admission_category,number_outpatient_boxcox,number_inpatient_boxcox
0,268763496,AfricanAmerican,Female,50-60,3,DM,14,0,12,0,9,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,Ch,Yes,YES,Emergency,Discharged to Home,Emergency Admission,0.234683,0.366708
1,268777020,Caucasian,Male,50-60,4,PO,37,1,20,0,9,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO,Emergency,Discharged to Home,Emergency Admission,0.000000,0.000000
2,268780680,Caucasian,Female,80-90,4,MC,63,0,29,1,9,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,Ch,Yes,NO,Emergency,Transfers to Other Healthcare Facilities,Emergency Admission,0.000000,0.366708
3,268784670,AfricanAmerican,Female,50-60,2,MD,72,1,18,0,9,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO,Emergency,Discharged to Home,Emergency Admission,0.000000,0.000000
4,268787766,Caucasian,Female,60-70,1,MC,28,0,13,0,9,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,Yes,NO,Emergency,Discharged to Home,Emergency Admission,0.000000,0.000000

In [66]:
# Convert the target variable to binary (0 for NO, 1 for YES)
data['readmitted'] = data['readmitted'].map({'NO': 0, 'YES': 1})

In [67]:
# # Calculate the total count of events (YES) and non-events (NO)
# total_events = data['readmitted'].sum()
# total_non_events = data['readmitted'].count() - total_events

In [68]:
# # Calculate WoE and IV
# def calculate_woe_iv(df, feature, target):
#     # Create a dataframe to hold the counts
#     woe_iv = pd.DataFrame()
    
#     # Group by the feature and calculate the count of events and non-events
#     woe_iv['total'] = df.groupby(feature)[target].count()
#     woe_iv['events'] = df.groupby(feature)[target].sum()
#     woe_iv['non_events'] = woe_iv['total'] - woe_iv['events']
    
#     # Calculate event and non-event rates
#     woe_iv['event_rate'] = woe_iv['events'] / total_events
#     woe_iv['non_event_rate'] = woe_iv['non_events'] / total_non_events
    
#     # Calculate WoE
#     woe_iv['woe'] = np.log(woe_iv['event_rate'] / woe_iv['non_event_rate'])
    
#     # Calculate IV
#     woe_iv['iv'] = (woe_iv['event_rate'] - woe_iv['non_event_rate']) * woe_iv['woe']
    
#     # Return the DataFrame with WoE and IV
#     return woe_iv

In [69]:
# # Calculate WoE and IV for the payer_code column
# woe_iv_results = calculate_woe_iv(data, 'payer_code', 'readmitted')

# # Display results
# woe_iv_results

In [70]:
# # Calculate total IV
# total_iv = woe_iv_results['iv'].sum()
# print(f'Total IV for payer_code: {total_iv}')

In [71]:
# # Calculate WoE and IV for the age column
# woe_iv_results_age = calculate_woe_iv(data, 'age', 'readmitted')

In [74]:
# Step 1: Create a dictionary to map age categories to WoE values
woe_mapping = {
    '0-10': -1.416239,
    '10-20': -0.328822,
    '20-30': -0.026394,
    '30-40': -0.132715,
    '40-50': -0.063792,
    '50-60': -0.096065,
    '60-70': 0.012694,
    '70-80': 0.088174,
    '80-90': 0.086466,
    '90-100': -0.281206
}

data['woe_age'] = data['age'].map(woe_mapping)

In [75]:
data.head()

,encounter_id,race,gender,age,time_in_hospital,payer_code,num_lab_procedures,num_procedures,num_medications,number_emergency,number_diagnoses,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,insulin,glyburide_metformin,glipizide_metformin,glimepiride_pioglitazone,change,diabetesMed,readmitted,admission_type_desc,discharge_category,admission_category,number_outpatient_boxcox,number_inpatient_boxcox,woe_age
0,268763496,AfricanAmerican,Female,50-60,3,DM,14,0,12,0,9,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,Ch,Yes,1,Emergency,Discharged to Home,Emergency Admission,0.234683,0.366708,-0.096065
1,268777020,Caucasian,Male,50-60,4,PO,37,1,20,0,9,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,0,Emergency,Discharged to Home,Emergency Admission,0.000000,0.000000,-0.096065
2,268780680,Caucasian,Female,80-90,4,MC,63,0,29,1,9,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,Ch,Yes,0,Emergency,Transfers to Other Healthcare Facilities,Emergency Admission,0.000000,0.366708,0.086466
3,268784670,AfricanAmerican,Female,50-60,2,MD,72,1,18,0,9,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,0,Emergency,Discharged to Home,Emergency Admission,0.000000,0.000000,-0.096065
4,268787766,Caucasian,Female,60-70,1,MC,28,0,13,0,9,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,Yes,0,Emergency,Discharged to Home,Emergency Admission,0.000000,0.000000,0.012694

In [76]:
data.to_csv('../data/interim/validation_data.csv')