In [127]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.stats.outliers_influence import variance_inflation_factor
import time
import pyodbc
print(pyodbc.drivers())
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
from scipy import stats

['SQL Server', 'SQL Server Native Client RDA 11.0', 'ODBC Driver 17 for SQL Server', 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)']

# SQL Connection

In [5]:
def create_sql_connection_win_auth(server, database):
    connection_string = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'
    conn = pyodbc.connect(connection_string)
    return conn

server = 'SAPNA\\SQLEXPRESS'
database = 'Diabetes_Data'

conn = create_sql_connection_win_auth(server, database)

In [6]:
def query_data(conn, query):
    """
    Execute a SQL query and fetch results as a pandas DataFrame.
    
    Parameters:
    - conn: A pyodbc connection object.
    - query (str): The SQL query to be executed.
    
    Returns:
    - data: A pandas DataFrame containing the query result.
    """
    start_time = time.time()  # Start time measurement
    try:
        cursor = conn.cursor()
        cursor.execute(query)
        
        # Fetch all results from the query
        rows = cursor.fetchall()
        
        # Get column names from cursor
        columns = [desc[0] for desc in cursor.description]
        
        # Create a pandas DataFrame from the results
        data = pd.DataFrame.from_records(rows, columns=columns)
        
    except pyodbc.Error as e:
        print(f"Error executing query: {e}")
        return None
    
    finally:
        cursor.close()
    
    end_time = time.time()  # End time measurement
    execution_time = end_time - start_time  # Calculate execution time
    
    # Print the DataFrame and execution time
    print(f"Query executed in: {execution_time:.4f} seconds")
    
    return df

In [23]:
query = '''
select *, admission_source.description as admission_source_des, admission_type.description as admission_type_desc, discharge_disposition.description as discharge_desposition_desc 
from patient_data_train_test 
left join admission_source on admission_source.admission_source_id = patient_data_train_test.admission_source_id
left join discharge_disposition on discharge_disposition.discharge_disposition_id = patient_data_train_test.discharge_disposition_id
left join admission_type on admission_type.admission_type_id = patient_data_train_test.admission_type_id
left join readmission_status on readmission_status.encounter_id = patient_data_train_test.encounter_id'''

In [59]:
data_temp = query_data(conn, query)
data_temp.shape

Query executed in: 5.8507 seconds

(85000, 60)

In [60]:
data = data_temp.copy(deep=True)

# Data Cleaning

In [61]:
data.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide_metformin', 'glipizide_metformin',
       'glimepiride_pioglitazone', 'metformin_rosiglitazone',
       'metformin_pioglitazone', 'change', 'diabetesMed',
       'admission_source_id', 'description', 'discharge_disposition_id',
       'description', 'admission_type_id', 'description', 'encounter_id',
       'readmitted', 'admission_source_des', 'admission_type_desc',
       'discharge_desposition_desc'],
      dtype='object')

In [62]:
selected_col = ['encounter_id', 'race', 'gender', 'age', 'weight',
       
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide_metformin', 'glipizide_metformin',
       'glimepiride_pioglitazone', 'metformin_rosiglitazone',
       'metformin_pioglitazone', 'change', 'diabetesMed',
        'readmitted',
       'admission_source_des', 'admission_type_desc',
       'discharge_desposition_desc']

In [63]:
data = data[selected_col].iloc[:,1:]

In [64]:
data.columns

Index(['encounter_id', 'race', 'gender', 'age', 'weight', 'time_in_hospital',
       'payer_code', 'medical_specialty', 'num_lab_procedures',
       'num_procedures', 'num_medications', 'number_outpatient',
       'number_emergency', 'number_inpatient', 'diag_1', 'diag_2', 'diag_3',
       'number_diagnoses', 'max_glu_serum', 'A1Cresult', 'metformin',
       'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride',
       'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide_metformin', 'glipizide_metformin',
       'glimepiride_pioglitazone', 'metformin_rosiglitazone',
       'metformin_pioglitazone', 'change', 'diabetesMed', 'readmitted',
       'admission_source_des', 'admission_type_desc',
       'discharge_desposition_desc'],
      dtype='object')

In [65]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85000 entries, 0 to 84999
Data columns (total 49 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   encounter_id                85000 non-null  int64
 1   race                        85000 non-null  object
 2   gender                      85000 non-null  object
 3   age                         85000 non-null  object
 4   weight                      85000 non-null  object
 5   time_in_hospital            85000 non-null  int64
 6   payer_code                  85000 non-null  object
 7   medical_specialty           85000 non-null  object
 8   num_lab_procedures          85000 non-null  int64
 9   num_procedures              85000 non-null  int64
 10  num_medications             85000 non-null  int64
 11  number_outpatient           85000 non-null  int64
 12  number_emergency            82211 non-null  object
 13  number_inpatient            85000 non-null  int64
 14  diag_1                      85000 non-null  object
 15  diag_2                      85000 non-null  object
 16  diag_3                      85000 non-null  object
 17  number_diagnoses            85000 non-null  int64
 18  max_glu_serum               5143 non-null   object
 19  A1Cresult                   14049 non-null  object
 20  metformin                   85000 non-null  object
 21  repaglinide                 85000 non-null  object
 22  nateglinide                 85000 non-null  object
 23  chlorpropamide              85000 non-null  object
 24  glimepiride                 85000 non-null  object
 25  acetohexamide               85000 non-null  object
 26  glipizide                   85000 non-null  object
 27  glyburide                   85000 non-null  object
 28  tolbutamide                 85000 non-null  object
 29  pioglitazone                85000 non-null  object
 30  rosiglitazone               85000 non-null  object
 31  acarbose                    85000 non-null  object
 32  miglitol                    85000 non-null  object
 33  troglitazone                85000 non-null  object
 34  tolazamide                  85000 non-null  object
 35  examide                     85000 non-null  object
 36  citoglipton                 85000 non-null  object
 37  insulin                     85000 non-null  object
 38  glyburide_metformin         85000 non-null  object
 39  glipizide_metformin         85000 non-null  object
 40  glimepiride_pioglitazone    85000 non-null  object
 41  metformin_rosiglitazone     85000 non-null  object
 42  metformin_pioglitazone      85000 non-null  object
 43  change                      85000 non-null  object
 44  diabetesMed                 85000 non-null  bool
 45  readmitted                  85000 non-null  object
 46  admission_source_des        85000 non-null  object
 47  admission_type_desc         85000 non-null  object
 48  discharge_desposition_desc  85000 non-null  object
dtypes: bool(1), int64(8), object(40)
memory usage: 31.2+ MB

In [39]:
data.describe()

,encounter_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_inpatient,number_diagnoses
count,8.500000e+04,85000.000000,85000.000000,85000.000000,85000.000000,85000.000000,85000.000000,85000.000000
mean,1.304736e+08,4.451612,43.300118,1.334894,15.861812,0.344929,0.631271,7.279941
std,6.857767e+07,3.015638,19.260734,1.687531,8.129045,1.222098,1.251215,1.959969
min,1.252200e+04,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000
25%,7.414607e+07,2.000000,32.000000,0.000000,10.000000,0.000000,0.000000,6.000000
50%,1.310813e+08,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,8.000000
75%,1.774056e+08,6.000000,57.000000,2.000000,20.000000,0.000000,1.000000,9.000000
max,2.687621e+08,14.000000,132.000000,6.000000,81.000000,42.000000,21.000000,9.000000

In [66]:
data.isnull().sum()

encounter_id                      0
race                              0
gender                            0
age                               0
weight                            0
time_in_hospital                  0
payer_code                        0
medical_specialty                 0
num_lab_procedures                0
num_procedures                    0
num_medications                   0
number_outpatient                 0
number_emergency               2789
number_inpatient                  0
diag_1                            0
diag_2                            0
diag_3                            0
number_diagnoses                  0
max_glu_serum                 79857
A1Cresult                     70951
metformin                         0
repaglinide                       0
nateglinide                       0
chlorpropamide                    0
glimepiride                       0
acetohexamide                     0
glipizide                         0
glyburide                         0
tolbutamide                       0
pioglitazone                      0
rosiglitazone                     0
acarbose                          0
miglitol                          0
troglitazone                      0
tolazamide                        0
examide                           0
citoglipton                       0
insulin                           0
glyburide_metformin               0
glipizide_metformin               0
glimepiride_pioglitazone          0
metformin_rosiglitazone           0
metformin_pioglitazone            0
change                            0
diabetesMed                       0
readmitted                        0
admission_source_des              0
admission_type_desc               0
discharge_desposition_desc        0
dtype: int64

### Step 1
- Will drop max_glu_serum ,A1Cresult since 90% rows have null values

In [67]:
data.drop(columns={'max_glu_serum', 'A1Cresult'},inplace=True)

In [42]:
data.shape

(85000, 47)

In [68]:
data['number_emergency'] = data['number_emergency'].fillna(0)

In [ ]:
data.isnull().sum()

In [109]:
# Check for unique values in categorical columns
categorical_columns = data.select_dtypes(include=['object']).columns
print(len(categorical_columns))
for col in categorical_columns:
    print(f"{col}: {data[col].unique()}")

37
race: ['Caucasian' 'AfricanAmerican' 'Other' 'Asian' 'Hispanic']
gender: ['Female' 'Male']
age: ['[80-90)' '[90-100)' '[40-50)' '[50-60)' '[60-70)' '[70-80)' '[20-30)'
 '[10-20)' '[30-40)' '[0-10)']
weight: ['?' '[75-100)' '[50-75)' '[0-25)' '[100-125)' '[25-50)' '[125-150)'
 '[175-200)' '[150-175)' '>200']
payer_code: ['Other' 'MC' 'MD' 'HM' 'UN' 'BC' 'SP' 'CP' 'SI' 'DM' 'CM' 'CH' 'PO' 'WC'
 'OT' 'OG' 'MP']
number_emergency: [False True]
diag_1: ['398' '434' '197' '250.7' '414' '157' '428' '518' '648' '999' '410' '682'
 '402' '737' '276' '572' 'V57' '189' '786' '427' '996' '277' '584' '462'
 '473' '411' '174' '486' '998' '511' '432' '626' '295' '8' '196' '250.6'
 '618' '182' '845' '423' '808' '250.4' '722' '403' '250.11' '784' '707'
 '440' '151' '715' '997' '198' '564' '812' '38' '590' '556' '578' '250.32'
 '433' 'V58' '569' '185' '536' '255' '250.13' '599' '558' '574' '250.83'
 '491' '560' '244' '250.03' '577' '730' '188' '824' '250.8' '332' '562'
 '291' '296' '510' '401' '263' '438' '70' '250.02' '493' '642' '625' '571'
 '738' '593' '250.42' '807' '456' '446' '575' '250.41' '820' '515' '780'
 '250.22' '995' '235' '250.82' '721' '787' '162' '724' '282' '514' 'V55'
 '281' '250.33' '530' '466' '435' '250.12' 'V53' '789' '566' '822' '191'
 '557' '733' '455' '711' '482' '202' '280' '553' '225' '154' '441'
 '250.81' '349' '?' '962' '592' '507' '386' '156' '200' '728' '348' '459'
 '426' '388' '607' '337' '82' '531' '596' '288' '656' '573' '492' '220'
 '516' '210' '922' '286' '885' '958' '661' '969' '250.93' '227' '112'
 '404' '823' '532' '416' '346' '535' '453' '250' '595' '211' '303'
 '250.01' '852' '218' '782' '540' '457' '285' '431' '340' '550' '54' '351'
 '601' '723' '555' '153' '443' '380' '204' '424' '241' '358' '694' '331'
 '345' '681' '447' '290' '158' '579' '436' '335' '309' '654' '805' '799'
 '292' '183' '78' '851' '458' '586' '311' '892' '305' '293' '415' '591'
 '794' '803' '79' '655' '429' '278' '658' '598' '729' '585' '444' '604'
 '727' '214' '552' '284' '680' '708' '41' '644' '481' '821' '413' '437'
 '968' '756' '632' '359' '275' '512' '781' '420' '368' '522' '294' '825'
 '135' '304' '320' '250.31' '669' '868' '496' '250.43' '826' '567' '3'
 '203' '53' '251' '565' '161' '495' '49' '250.1' '297' '663' '576' '355'
 '850' '287' '250.2' '611' '840' '350' '726' '537' '620' '180' '366' '783'
 '11' '751' '716' '250.3' '199' '464' '580' '836' '664' '283' '813' '966'
 '289' '965' '184' '480' '608' '333' '972' '212' '117' '788' '924' '959'
 '621' '238' '785' '714' '942' '250.23' '710' '47' '933' '508' '478' '844'
 '7' '736' '233' '42' '250.5' '397' '395' '201' '421' '253' '250.92' '600'
 '494' '977' '39' '659' '312' '614' '647' '652' '646' '274' '861' '425'
 '527' '451' '485' '217' '250.53' '442' '970' '193' '160' '322' '581'
 '475' '623' '374' '582' '568' '465' '801' '237' '376' '150' '461' '913'
 '226' '617' '987' '641' '298' '790' '336' '362' '228' '513' '383' '746'
 '353' '911' '506' '873' '155' '860' '534' '802' '141' 'V45' '396' '310'
 '341' '242' '719' '239' '533' '616' '519' '301' 'V66' '5' '989' '230'
 '385' '300' '853' '871' '570' '848' '463' '9' '934' '250.21' '236' '361'
 '594' '501' '810' '643' '430' '528' '205' '791' '983' '992' '490' '172'
 '171' '622' '306' '863' '864' '474' '660' '759' '356' '634' '967' '551'
 '695' '187' '732' '747' '323' '308' '370' '252' '152' '846' '164' '365'
 '718' '48' '266' '720' '94' '344' '797' '170' '878' '904' 'V56' '882'
 '843' '709' '973' '454' '686' '939' '487' '229' '991' '483' '357' '692'
 '796' '693' '935' '936' '800' '920' 'V26' '261' '307' '262' '250.9' '831'
 '145' '223' 'V71' '839' '685' 'V54' '35' '34' '179' '964' '136' '324'
 '389' '815' '334' '143' '526' '588' '192' 'V67' '394' '917' '88' '219'
 '325' '792' '717' '994' '990' '793' '207' '637' '195' '373' '847' '827'
 '31' '891' '814' 'V60' '703' '865' '352' '627' '378' '342' '886' '369'
 '745' '705' '816' '541' '986' '610' '633' '640' '753' '173' '835' '379'
 '445' '272' '382' '945' '619' '881' '250.52' '866' '405' '916' '215'
 '893' '75' '671' '928' '906' '897' '725' '867' '115' '890' '734' '521'
 '674' '470' '834' '146' '696' '524' '980' '691' '384' '142' '879'
 '250.51' '246' '208' '448' '955' '653' '149' '245' '735' '883' '854'
 '952' '838' '194' 'V43' '163' '216' '147' '354' '27' '477' '318' '880'
 '921' '377' '471' '683' '175' '602' '250.91' '982' '706' '375' '417'
 '131' '347' '870' '148' '862' '61' '817' '914' '360' '684' '314' 'V63'
 '36' '57' '240' '915' '971' '795' '988' '452' '963' '327' '731' '842'
 'V25' '645' '665' '110' '944' '603' '923' '412' '363' '957' '976' '698'
 '299' '700' '273' '974' '97' '529' '66' '98' '605' '941' '52' '806' '84'
 '271' '837' '657' '895' '338' '523' '542' '114' '543' '372' 'V70' 'E909'
 '583' 'V07' '422' '615' '279' '500' '903' '919' '875']
diag_2: ['427' '198' '157' '403' '411' '288' '250.43' '998' '492' '250' '507'
 '174' '425' '250.01' '456' '401' '715' '496' '428' '585' '250.02' '410'
 '999' '996' '135' '244' '41' '571' '276' '997' '599' '424' '491' '553'
 '707' '286' '440' '493' '242' '70' 'V45' '250.03' '357' '?' '511' '196'
 '396' '197' '414' '250.52' '577' '535' '413' '285' '53' '780' '518' '150'
 '566' '250.6' '867' '486' 'V15' '8' '788' '340' '574' '581' '228' '530'
 '250.82' '786' '294' '567' '785' '512' '305' '729' '250.51' '280' '648'
 '560' '618' '444' '38' 'V10' '578' '277' '781' '250.42' '278' '426' '584'
 '462' '402' '153' '272' '733' '34' '881' '203' '250.41' '250.13' '293'
 '245' '250.12' '558' '787' '342' '573' '626' '303' '250.53' '458' '710'
 '415' 'V42' '284' '569' '759' '682' '112' '292' '435' '290' '250.93'
 '642' '536' '398' '319' '711' 'E878' '446' '255' 'V44' '250.7' '784'
 '300' '562' '162' '287' '447' '789' '790' '591' '200' '154' '304' '117'
 '847' '852' '250.83' '250.11' '816' '575' '416' '412' '441' '515' '372'
 '482' '382' 'V65' '572' '283' '78' '250.81' '576' '432' '595' '295' 'V12'
 '204' '466' '721' '434' '590' '271' '813' '368' '227' '783' '250.5' '258'
 '253' '309' '250.91' '519' '333' '459' '250.92' '250.4' '179' '420' '345'
 '433' '661' '537' '205' '722' '405' '437' '714' '211' 'E812' '263' '202'
 '397' '250.23' 'E932' '201' '301' '723' '614' '568' '861' 'V57' '724'
 '189' '297' '453' 'E888' '730' '354' '451' '738' 'E939' '805' 'V43' '155'
 '910' '218' '358' '220' 'E937' '583' '958' '794' '564' '436' '250.22'
 '620' '621' '331' '617' '596' '314' '378' '250.8' '625' '478' '731' '172'
 '404' '681' '470' '279' '281' '531' '443' '799' '337' '311' '719' 'E944'
 '423' 'E870' '465' 'E849' '782' '481' '480' 'V23' '199' '79' '438' '348'
 '42' 'E950' '473' '627' '726' '54' '490' '317' '332' '508' '369' '600'
 '349' '485' '208' '922' '431' '296' 'E934' '753' 'E935' '386' '728' '607'
 'E915' '344' '716' '289' '191' '873' '850' '611' '377' '352' '616' 'V17'
 '136' '455' '933' 'E885' '860' '513' '603' '484' '223' 'V72' '291' '151'
 'V58' '550' '510' '891' '185' '592' '791' '138' '598' '336' '362' '217'
 '825' '298' '821' 'E880' '343' '429' 'E879' '579' '225' '250.9' 'V49'
 '696' '233' '658' '969' '275' '250.1' '601' '704' '808' 'E890' 'V18'
 '920' '380' '570' 'E817' '359' '812' '274' 'V14' '324' '758' 'V66' '911'
 'E931' 'E924' '593' '792' '727' 'V46' '394' '532' 'V64' '557' '864' '718'
 'E942' '807' '604' '924' '820' '580' '273' '241' '282' '824' 'V61' '646'
 '701' '736' '565' '383' '250.2' 'E947' '452' '872' '905' 'E930' '921'
 '131' '448' '389' '421' '214' '705' '494' '752' '623' '9' '299' '959'
 '365' '967' 'E858' '40' '691' '909' '5' '814' '746' '250.31' '556' '680'
 '745' '351' '306' '110' '695' '552' '346' '918' '882' '947' '520' '188'
 '31' '356' '737' 'V08' '322' '182' '517' '974' 'E929' 'V53' '912' '252'
 '608' '516' 'E933' '94' '702' '923' '594' '647' '111' '934' '430' '487'
 '709' '796' '156' '977' '915' '756' '840' '341' '259' '693' '725' 'V62'
 '528' '683' '953' '457' '501' 'E900' 'V09' '522' '919' '461' '506' '193'
 '483' 'E936' '717' '802' '335' 'V54' '320' '945' '906' '239' '454' '826'
 '823' 'E941' '226' '795' '684' '844' '250.33' '308' '615' '588' '712'
 '663' '706' '833' '741' '713' '533' 'E884' '586' '555' '755' 'E928' '742'
 '869' '962' 'V11' '543' '373' '870' '913' '152' '810' '965' '907' '908'
 '995' '845' '474' '442' '751' '323' '472' '464' '686' '250.32' '540'
 '251' '811' '652' '659' '851' '422' '815' '307' '325' '463' '992' '692'
 '521' '917' 'E965' '524' '916' 'E813' '173' '238' '137' '514' '312' '837'
 '355' '980' '622' '475' '500' '754' '261' '801' '868' '968' '381' '11'
 '250.21' '694' '610' '734' 'E814' '310' '130' '246' '892' '846' '634'
 '75' 'E927' 'E905' '183' '379' 'E917' '163' 'E868' '495' '747' '989'
 'E854' '240' '832' '605' '602' '644' 'V16' '35' 'V70' '376' '266' 'E918'
 '619' '477' '656' '46' '883' '171' 'V13' '698' '842' 'E850' '800' '269'
 '664' 'E887' '952' '164' 'E881' '527' '685' '366' '836' '27' 'V63' '865'
 '793' '232' '990' '52' '831' '327' '542' '806' '972' '862' 'E829' 'E919'
 '944' 'E916' '963' '316' '645' '347' 'V85' '374' 'V02' '748' '256' '186'
 '866' '975' '96' '395' '262' 'E819' '654' '994' '318' 'E826' '879' '674'
 '641' '822' '145' '797' '353' 'E938' 'E816' '948' '987' '99' '192'
 '250.3' 'E906' '534' '115' 'E818' 'E980' '360' '338' '529' '871' '750'
 '212' '302' '955' '141' '88' 'V25' '215' '350' 'V50' 'V03' 'E853' 'E968'
 'E882' '140' '703']
diag_3: ['38' '486' '250' '996' '197' '250.6' '427' 'V45' '627' 'V27' '414' '416'
 '714' '255' '428' '582' 'V43' '250.01' '263' '250.42' '276' '482' '401'
 '250.41' '585' '781' '278' '998' '403' '568' '682' '618' '250.02' '305'
 '707' '496' '599' '715' '?' '424' '518' '553' '794' '411' 'V42' '531'
 '511' '490' '562' '250.8' '250.7' '250.52' '784' '491' '581' '420' '8'
 '724' '730' '789' '131' '250.82' '999' '41' '493' '250.03' '753' '786'
 '529' 'E888' '425' '595' '303' '560' '711' '492' '332' '296' '438' '362'
 '250.4' '654' '244' 'V70' '737' '625' '681' '250.51' '404' 'V10' '810'
 '280' '440' '785' '588' '569' '272' '997' '250.43' '918' '584' '54' '788'
 '426' '722' '250.92' '196' '461' '535' '787' '891' '284' '458' '648'
 '780' '182' '285' '593' '413' '664' '564' '201' '356' 'V15' '292' '782'
 '473' '455' 'E932' '357' '348' '294' '250.23' '459' 'E878' '437' '733'
 '507' '525' '250.53' '397' '572' '805' '453' '331' '736' '402' '591'
 '576' '465' '533' '703' '349' '315' '658' '608' '578' '716' '382' '300'
 '282' '571' '536' '596' '287' '644' 'V11' '558' 'E885' '162' '198' '218'
 '412' '396' 'V14' '570' '433' 'E934' '882' '288' '577' '443' '729' '836'
 '295' '799' '281' '304' '153' '410' '616' '250.83' '601' '291' '75' '512'
 '660' '250.5' '598' '337' '574' '653' 'V58' '311' '415' '386' '602' '790'
 '112' '873' '620' '436' '70' '155' '138' '663' '530' '710' '42' '342'
 '250.91' 'E884' '515' '307' '704' '728' '731' '583' '238' '441' '293'
 '573' '532' '290' '594' '319' '250.13' '250.12' '519' '346' '380' '135'
 '642' '698' '924' '905' 'E933' '555' '309' 'E879' '286' '565' '752' '580'
 '446' '444' '344' '252' '35' '813' '394' '301' '575' '258' 'V17' '802'
 '435' '746' 'V12' '709' '881' 'E935' '139' '250.81' '718' '365' '202'
 '334' '185' '398' 'V44' '517' 'E849' '614' '466' '626' '250.9' '368'
 '605' '883' '289' '478' '617' '429' '442' 'V25' '866' '610' '557' '959'
 'E942' '94' '920' '345' '313' '379' '79' '516' '586' '821' '600' '242'
 '373' '592' 'V64' '487' '253' '706' 'E947' '117' '340' 'E950' '656'
 'E949' '590' 'V09' '250.22' '934' '694' '203' '250.93' '995' '726' '923'
 '958' '275' 'E929' '211' 'V18' 'V66' '199' '665' '53' '279' '522' '791'
 '890' '456' 'E938' 'E816' '122' '721' 'V65' '136' '480' '423' 'E920'
 '793' '647' '537' '351' '845' '336' '274' '719' '945' '434' '494' '227'
 '157' '208' '174' 'V57' '812' '734' '150' 'V23' '447' '692' '228' 'V16'
 '756' '405' 'E928' '823' '552' '528' '389' '240' '454' '792' '366' 'E939'
 '907' '270' '310' '266' '387' 'E931' '783' '245' '607' '355' 'E930' '705'
 '372' '369' '611' '283' 'V46' '110' '867' 'E956' '251' '250.2' '820'
 '712' '695' '567' '343' '723' 'V08' '273' '623' '807' '451' '495' '701'
 '34' 'V53' '314' '472' 'E945' '11' '189' '534' '354' '333' 'V54' '277'
 '659' '708' '452' '655' '816' '670' '621' '246' '953' '865' 'E817' '646'
 '151' '378' '78' '298' '840' '641' '521' '745' '619' '912' '506' 'E904'
 '259' 'E870' 'E980' '383' '204' '696' '566' '727' '47' 'E943' '358' '191'
 '965' '921' '432' '27' 'E861' '758' '477' '524' '751' '652' '556' '188'
 '825' '919' '732' '908' '951' '962' '685' 'E850' 'E944' '527' '341' '693'
 '250.1' 'V49' '860' '323' 'V55' '579' '508' '969' '205' '462' 'E880'
 '680' '697' '826' '200' '457' '717' '738' '742' '735' '235' '308' '725'
 '241' '824' '464' '260' '917' '239' '661' '892' '261' 'E883' '943' '744'
 'E936' '796' '318' '967' '350' '854' 'E905' '9' '741' 'E941' '170' '643'
 '317' '759' '909' 'V22' '831' '713' '180' '801' '360' '359' '501' '335'
 '250.11' '306' '811' '690' 'V02' '271' '214' '847' '543' 'V63' '906'
 '842' '686' '445' '808' '861' 'E852' '220' 'E887' 'E858' '915' '970'
 '256' '747' '395' '243' '815' '481' '5' 'E927' '297' '299' '851' '864'
 '922' '384' 'E876' '225' '158' 'E937' '871' '88' '966' 'E917' 'E812'
 'V62' 'E924' '604' '233' 'E916' '377' '797' 'V72' '172' '7' '421' '852'
 'E819' '972' '916' '956' '3' 'E965' '173' '193' '154' '347' '862' '250.3'
 '987' '470' '262' 'E855' '161' '115' '179' '910' '312' '17' '460' '265'
 '66' '163' 'V60' '870' 'E906' '514' '944' '844' '417' '152' '183' '991'
 '216' '385' '164' '935' '510' '814' '485' '850' '250.21' 'E919' '872'
 '195' '431' '597' '933' '171' '884' '156' '868' '483' 'E815' '542' 'V61'
 '853' '374' 'E881' 'E882' 'E822' '192' '754' '327' '523' '500' 'V85'
 '992' '657' '684' '603' 'E826' '550' '913' '376' '755' '361' '186' '720'
 '250.31' '674' '911' 'E813' '226' '365.44' 'E818' '146' '955' 'E894'
 '475' 'V13' '880' '930' 'E915' '381' '132' '353' '795' '893' 'V01' 'E853'
 '863' '540' 'E828' '430' '800' 'E865' '148' 'E946' '822' '879' '848'
 'V86' 'V03' '338' '989' '388' 'E966' '111' 'E922' '123' '757' 'E901'
 '141' '268' 'E892' '649' '702' '948' '223' '484' 'E886' '838' '928' '236'
 '624' '837' 'E987' 'V07' '841' '622']
metformin: ['No' 'Steady' 'Up' 'Down']
repaglinide: ['No' 'Up' 'Steady' 'Down']
nateglinide: ['No' 'Steady' 'Down' 'Up']
chlorpropamide: ['No' 'Steady' 'Down' 'Up']
glimepiride: ['No' 'Steady' 'Down' 'Up']
acetohexamide: ['No' 'Steady']
glipizide: ['Steady' 'No' 'Up' 'Down']
glyburide: ['No' 'Up' 'Steady' 'Down']
tolbutamide: ['No' 'Steady']
pioglitazone: ['No' 'Steady' 'Up' 'Down']
rosiglitazone: ['No' 'Steady' 'Up' 'Down']
acarbose: ['No' 'Steady' 'Up' 'Down']
miglitol: ['No' 'Steady' 'Down' 'Up']
troglitazone: ['No' 'Steady']
tolazamide: ['No' 'Steady' 'Up']
insulin: ['Steady' 'Down' 'No' 'Up']
glyburide_metformin: ['No' 'Steady' 'Down' 'Up']
glipizide_metformin: ['No' 'Steady']
glimepiride_pioglitazone: ['No' 'Steady']
metformin_rosiglitazone: ['No']
metformin_pioglitazone: ['No']
change: ['Ch' 'No']
readmitted: ['NO' 'YES']
admission_source_des: ['Transfer from a hospital' 'Emergency Room' 'Clinic Referral'
 'Physician Referral' 'Transfer from a Skilled Nursing Facility (SNF)'
 'Transfer from another health care facility' 'Not Mapped' 'HMO Referral'
 'NULL' 'Court/Law Enforcement' 'Not Available' 'Extramural Birth'
 'Transfer from critial access hospital'
 'Transfer from hospital inpt/same fac reslt in a sep claim'
 'Normal Delivery']
admission_type_desc: ['Urgent' 'Elective' 'Emergency' 'Other']
discharge_desposition_desc: ['Discharged to home' 'Discharged/transferred to SNF'
 'Discharged/transferred to home with home health service'
 'Discharged/transferred to another short term hospital'
 'Discharged/transferred to another type of inpatient care institution'
 'Expired' 'Left AMA' 'Not Mapped'
 'Neonate discharged to another hospital for neonatal aftercare'
 'Discharged/transferred to ICF' 'Hospice / medical facility' 'NULL'
 'Discharged/transferred to home under care of Home IV provider'
 'Hospice / home'
 'Still patient or expected to return for outpatient services'
 'Discharged/transferred/referred another institution for outpatient services'
 'Discharged/transferred/referred to this institution for outpatient services'
 'Discharged/transferred to another rehab fac including rehab units of a hospital .'
 'Discharged/transferred to a long term care hospital.'
 'Admitted as an inpatient to this hospital'
 'Expired in a medical facility. Medicaid only, hospice.'
 'Discharged/transferred within this institution to Medicare approved swing bed'
 'Discharged/transferred to a nursing facility certified under Medicaid but not certified under Medicare.'
 'Discharged/transferred/referred to a psychiatric hospital of psychiatric distinct part unit of a hospital'
 'Expired at home. Medicaid only, hospice.'
 'Discharged/transferred to a federal health care facility.']
discharge_category: ['Discharged to Home' 'Transfers to Other Healthcare Facilities' 'Expired'
 'AMA (Against Medical Advice)' 'Other' 'Hospice Care']
admission_category: ['Transfers from Other Facilities' 'Emergency Admission'
 'Physician Referral' 'Other' nan]

In [71]:
data['race'].value_counts()

race
Caucasian          63153
AfricanAmerican    16989
?                   1796
Hispanic            1558
Other               1066
Asian                438
Name: count, dtype: int64

In [72]:
# race (~2k values replaced with 'Other' category)
data['race'] = data['race'].replace('?','Other')
data['race'].value_counts()

race
Caucasian          63153
AfricanAmerican    16989
Other               2862
Hispanic            1558
Asian                438
Name: count, dtype: int64

In [73]:
# gender (Only 3 values with "Unknown/Invalid" entry replacing it with the 'Female' as female proportion in the dataset is on higher side)

data['gender'] = data['gender'].replace('Unknown/Invalid', 'Female')
data['gender'].value_counts()

gender
Female    45813
Male      39187
Name: count, dtype: int64

In [74]:
data['admission_type_desc'].value_counts()

admission_type_desc
Emergency        43691
Urgent           16026
Elective         15349
NULL              4888
Not Available     4761
Not Mapped         264
Trauma Center       13
Newborn              8
Name: count, dtype: int64

In [ ]:
# # admission_type_description -  Contains 4785 Null values, replacing it with the existing category "Not Available". Also Not Mapped replace with same category 
# data['admission_type_desc'].value_counts(dropna=False)
# data['admission_type_desc'] = data['admission_type_desc'].fillna('Other').replace({'Not Mapped': 'Not Available','NULL': 'Not Available'})
# data['admission_type_desc'].value_counts(dropna=False)

In [75]:
pd.crosstab(data['admission_type_desc'], data['readmitted'])

readmitted              NO    YES
admission_type_desc
Elective              8737   6612
Emergency            22414  21277
NULL                  2201   2687
Newborn                  5      3
Not Available         2550   2211
Not Mapped             164    100
Trauma Center           13      0
Urgent                8449   7577

In [76]:
# Define rare categories
rare_categories = ['Trauma Center', 'Newborn','NULL','Not Available','Not Mapped']

# Replace rare categories with 'Other'
data['admission_type_desc'] = data['admission_type_desc'].apply(
    lambda x: 'Other' if x in rare_categories else x
)

data['admission_type_desc'].value_counts()

admission_type_desc
Emergency    43691
Urgent       16026
Elective     15349
Other         9934
Name: count, dtype: int64

In [78]:
# discharge_disposition_description
data['discharge_desposition_desc'].value_counts(dropna= False)

discharge_desposition_desc
Discharged to home                                                                                           49888
Discharged/transferred to SNF                                                                                11305
Discharged/transferred to home with home health service                                                      10603
NULL                                                                                                          3683
Discharged/transferred to another short term hospital                                                         1812
Discharged/transferred to another rehab fac including rehab units of a hospital .                             1640
Expired                                                                                                       1411
Discharged/transferred to another type of inpatient care institution                                          1093
Not Mapped                                                                                                     984
Discharged/transferred to ICF                                                                                  753
Left AMA                                                                                                       517
Discharged/transferred to a long term care hospital.                                                           361
Hospice / home                                                                                                 287
Hospice / medical facility                                                                                     276
Discharged/transferred/referred to a psychiatric hospital of psychiatric distinct part unit of a hospital      117
Discharged/transferred to home under care of Home IV provider                                                  108
Discharged/transferred within this institution to Medicare approved swing bed                                   61
Discharged/transferred to a nursing facility certified under Medicaid but not certified under Medicare.         36
Admitted as an inpatient to this hospital                                                                       18
Discharged/transferred/referred to this institution for outpatient services                                     14
Discharged/transferred/referred another institution for outpatient services                                     11
Expired at home. Medicaid only, hospice.                                                                         7
Neonate discharged to another hospital for neonatal aftercare                                                    6
Discharged/transferred to a federal health care facility.                                                        4
Still patient or expected to return for outpatient services                                                      3
Expired in a medical facility. Medicaid only, hospice.                                                           2
Name: count, dtype: int64

In [86]:
## making subcategories for the discharge disposition
discharge_categories = {
    #Discharged to Home
    'Discharged to home': 'Discharged to Home',
    'Discharged/transferred to home with home health service': 'Discharged to Home',
    'Discharged/transferred to home under care of Home IV provider': 'Discharged to Home',
    
    #Transfers to Other Healthcare Facilities
    'Discharged/transferred to SNF': 'Transfers to Other Healthcare Facilities',
    'Discharged/transferred to another short term hospital': 'Transfers to Other Healthcare Facilities',
    'Discharged/transferred to another rehab fac including rehab units of a hospital .': 'Transfers to Other Healthcare Facilities',
    'Discharged/transferred to another type of inpatient care institution': 'Transfers to Other Healthcare Facilities',
    'Discharged/transferred to ICF': 'Transfers to Other Healthcare Facilities',
    'Discharged/transferred to a long term care hospital.': 'Transfers to Other Healthcare Facilities',
    'Discharged/transferred/referred to a psychiatric hospital of psychiatric distinct part unit of a hospital': 'Transfers to Other Healthcare Facilities',
    'Discharged/transferred to a federal health care facility.': 'Transfers to Other Healthcare Facilities',
    'Discharged/transferred within this institution to Medicare approved swing bed': 'Transfers to Other Healthcare Facilities',
    'Discharged/transferred to a nursing facility certified under Medicaid but not certified under Medicare.': 'Transfers to Other Healthcare Facilities',
    'Neonate discharged to another hospital for neonatal aftercare': 'Transfers to Other Healthcare Facilities',
    'Discharged/transferred/referred to this institution for outpatient services': 'Transfers to Other Healthcare Facilities',
    'Discharged/transferred/referred another institution for outpatient services': 'Transfers to Other Healthcare Facilities',

    #Expired
    'Expired': 'Expired',
    'Expired at home. Medicaid only, hospice.': 'Expired',
    'Expired in a medical facility. Medicaid only, hospice.': 'Expired',
    
    #Hospice Care
    'Hospice / home': 'Hospice Care',
    'Hospice / medical facility': 'Hospice Care',
    
    #AMA (Against Medical Advice)
    'Left AMA': 'AMA (Against Medical Advice)',
    
    #Other
    'Not Mapped': 'Other',
    'NaN':'Other',
    'Still patient or expected to return for outpatient services': 'Other',
    'Admitted as an inpatient to this hospital': 'Other',
    
    np.nan: 'Other'
}

In [90]:
# Expired type not in target
pd.crosstab(data['discharge_desposition_desc'].map(discharge_categories), data['readmitted'])

readmitted                                   NO    YES
discharge_desposition_desc
AMA (Against Medical Advice)                255    262
Discharged to Home                        31206  29393
Expired                                    1420      0
Hospice Care                                501     62
Other                                       526    479
Transfers to Other Healthcare Facilities   8425   8788

In [89]:
data['discharge_category'] = data['discharge_desposition_desc'].map(discharge_categories).fillna('Other')
data['discharge_category'].value_counts(dropna=False)

discharge_category
Discharged to Home                          60599
Transfers to Other Healthcare Facilities    17213
Other                                        4688
Expired                                      1420
Hospice Care                                  563
AMA (Against Medical Advice)                  517
Name: count, dtype: int64

In [92]:
# admission_source_description

data['admission_source_des'].value_counts(dropna=False)

admission_source_des
Emergency Room                                               46289
Physician Referral                                           24902
NULL                                                          6514
Transfer from a hospital                                      2852
Transfer from another health care facility                    2157
Clinic Referral                                               1090
Transfer from a Skilled Nursing Facility (SNF)                 711
HMO Referral                                                   182
Not Mapped                                                     161
Not Available                                                  119
Court/Law Enforcement                                           10
Transfer from critial access hospital                            8
Extramural Birth                                                 2
Transfer from hospital inpt/same fac reslt in a sep claim        2
Normal Delivery                                                  1
Name: count, dtype: int64

In [98]:
# ## making subcategories for the admission source 

admission_source_categories = {
    'Emergency Room': 'Emergency Admission',
    'Court/Law Enforcement': 'Emergency Admission',
    
    'Physician Referral': 'Physician Referral',
    'HMO Referral': 'Physician Referral',
    'Clinic Referral': 'Physician Referral',
    
    'Transfer from a hospital': 'Transfers from Other Facilities',
    'Transfer from another health care facility': 'Transfers from Other Facilities',
    'Transfer from a Skilled Nursing Facility (SNF)': 'Transfers from Other Facilities',
    'Transfer from hospital inpt/same fac reslt in a sep claim': 'Transfers from Other Facilities',
    'Transfer from critial access hospital': 'Transfers from Other Facilities',
    'Transfer from Ambulatory Surgery Center': 'Transfers from Other Facilities',
    
    'Extramural Birth': 'Other',
    'Normal Delivery': 'Other',
    'Sick Baby': 'Other',
    
    np.nan: 'Other',
    
    'Not Mapped': 'Other',
    'Not Available': 'Other'
}

In [110]:
data['admission_category'] = data['admission_source_des'].map(admission_source_categories).fillna('Other')
data['admission_category'].value_counts(dropna=False)

admission_category
Emergency Admission                46299
Physician Referral                 26174
Other                               6797
Transfers from Other Facilities     5730
Name: count, dtype: int64

In [100]:
pd.crosstab(data['admission_category'], data['readmitted'])

readmitted                          NO    YES
admission_category
Emergency Admission              22522  23777
Other                              155    128
Physician Referral               14449  11725
Transfers from Other Facilities   3974   1756

In [101]:
data['medical_specialty'].value_counts(dropna=False)

medical_specialty
?                                       38623
InternalMedicine                        13479
Family/GeneralPractice                   7025
Emergency/Trauma                         5892
Cardiology                               4865
Surgery-General                          2731
Nephrology                               1541
Orthopedics-Reconstructive               1199
Orthopedics                              1191
Psychiatry                                824
Pulmonology                               823
Urology                                   650
ObstetricsandGynecology                   640
Surgery-Cardiovascular/Thoracic           629
Radiologist                               616
Gastroenterology                          518
Surgery-Vascular                          509
Surgery-Neuro                             460
PhysicalMedicineandRehabilitation         389
Oncology                                  325
Pediatrics                                242
Hematology/Oncology                       206
Neurology                                 183
Pediatrics-Endocrinology                  159
Endocrinology                             118
Otolaryngology                            118
Surgery-Thoracic                           95
Surgery-Cardiovascular                     92
Psychology                                 88
Pediatrics-CriticalCare                    87
Podiatry                                   84
Hematology                                 54
Radiology                                  47
Hospitalist                                42
Gynecology                                 39
Osteopath                                  39
Surgery-Plastic                            39
Surgeon                                    31
Ophthalmology                              30
InfectiousDiseases                         29
Obsterics&Gynecology-GynecologicOnco       25
Pediatrics-Pulmonology                     25
Obstetrics                                 19
Anesthesiology-Pediatric                   19
Pathology                                  17
Rheumatology                               14
SurgicalSpecialty                          14
OutreachServices                           12
Anesthesiology                             12
Surgery-Maxillofacial                      11
Surgery-Colon&Rectal                       11
Pediatrics-Neurology                       10
Surgery-Pediatric                           8
PhysicianNotFound                           8
AllergyandImmunology                        7
Cardiology-Pediatric                        7
Psychiatry-Child/Adolescent                 7
Pediatrics-Hematology-Oncology              4
Dentistry                                   4
Pediatrics-AllergyandImmunology             3
Pediatrics-EmergencyMedicine                3
Surgery-PlasticwithinHeadandNeck            1
Psychiatry-Addictive                        1
Pediatrics-InfectiousDiseases               1
Proctology                                  1
Dermatology                                 1
Speech                                      1
SportsMedicine                              1
Perinatology                                1
Neurophysiology                             1
Name: count, dtype: int64

In [102]:
del data['medical_specialty']

In [103]:
# Deleting columns examide and citoglipton as both columns has only "No" entry
print(data['citoglipton'].value_counts())
print(data['examide'].value_counts())

data.drop(columns={'examide', 'citoglipton'}, inplace=True)

citoglipton
No    85000
Name: count, dtype: int64
examide
No    85000
Name: count, dtype: int64

In [104]:
data.shape

(85000, 46)

In [105]:
data.head()

,encounter_id,race,gender,age,weight,time_in_hospital,payer_code,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,insulin,glyburide_metformin,glipizide_metformin,glimepiride_pioglitazone,metformin_rosiglitazone,metformin_pioglitazone,change,diabetesMed,readmitted,admission_source_des,admission_type_desc,discharge_desposition_desc,discharge_category,admission_category
0,12522,Caucasian,Female,[80-90),?,13,?,68,2,28,0,False,0,398,427,38,8,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,True,NO,Transfer from a hospital,Urgent,Discharged to home,Discharged to Home,Transfers from Other Facilities
1,15738,Caucasian,Female,[90-100),?,12,?,33,3,18,0,False,0,434,198,486,8,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,Steady,No,No,No,No,No,Ch,True,NO,Transfer from a hospital,Elective,Discharged/transferred to SNF,Transfers to Other Healthcare Facilities,Transfers from Other Facilities
2,16680,Caucasian,Male,[40-50),?,1,?,51,0,8,0,False,0,197,157,250,5,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,True,NO,Emergency Room,Emergency,Discharged to home,Discharged to Home,Emergency Admission
3,28236,AfricanAmerican,Female,[40-50),?,9,?,47,2,17,0,False,0,250.7,403,996,9,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,True,YES,Emergency Room,Emergency,Discharged to home,Discharged to Home,Emergency Admission
4,35754,Caucasian,Male,[50-60),?,3,?,31,6,16,0,False,0,414,411,250,9,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,True,YES,Clinic Referral,Urgent,Discharged to home,Discharged to Home,Physician Referral

In [108]:
pd.crosstab(data['payer_code'],data['readmitted'])

readmitted     NO    YES
payer_code
BC           2097   1401
CH             42     22
CM            683    634
CP           1114    826
DM            200    223
HM           2484   2257
MC          12362  12657
MD           1244   1314
MP             18     23
OG            384    341
OT             25     34
Other       20251  17762
PO            294    149
SI             30     24
SP           1885   1963
UN           1342    810
WC             78     27

In [107]:
data['payer_code'] = data['payer_code'].replace('?','Other')

In [133]:
data.shape

(85000, 48)

In [126]:
data[(data['number_outpatient']>0) & (data['number_inpatient'] > 0)].shape

(13230, 46)

## Outlier Treatment

In [134]:
def treat_outliers(df, columns):
   
    for column in columns:
        Q1 = df[column].quantile(0.25)
        Q3 = df[column].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        # Cap outliers
        df[column] = np.where(df[column] < lower_bound, lower_bound, df[column])
        df[column] = np.where(df[column] > upper_bound, upper_bound, df[column])
    return df

In [135]:
data = treat_outliers(data, ['num_lab_procedures','num_medications',])
data.describe()

,encounter_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_inpatient,number_diagnoses,number_outpatient_boxcox,number_inpatient_boxcox
count,8.500000e+04,85000.000000,85000.000000,85000.000000,85000.000000,85000.000000,85000.000000,85000.000000,85000.000000,85000.000000
mean,1.304736e+08,4.451612,43.289471,1.334894,15.645718,0.344929,0.631271,7.279941,0.025882,0.129595
std,6.857767e+07,3.015638,19.229168,1.687531,7.382708,1.222098,1.251215,1.959969,0.060284,0.184146
min,1.252200e+04,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,7.414607e+07,2.000000,32.000000,0.000000,10.000000,0.000000,0.000000,6.000000,0.000000,0.000000
50%,1.310813e+08,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,8.000000,0.000000,0.000000
75%,1.774056e+08,6.000000,57.000000,2.000000,20.000000,0.000000,1.000000,9.000000,0.000000,0.357118
max,2.687621e+08,14.000000,94.500000,6.000000,35.000000,42.000000,21.000000,9.000000,0.167747,0.457350

In [138]:
# Box-Cox transformation
data['number_outpatient_boxcox'], _ = stats.boxcox(data['number_outpatient'] + 1)
data['number_inpatient_boxcox'], _ = stats.boxcox(data['number_inpatient'] + 1)

In [ ]:
# Log Transformation
data['number_outpatient_treated'] = np.log1p(data['number_outpatient'])
data['number_inpatient_treated'] = np.log1p(data['number_inpatient'])

In [139]:
data.describe()

,encounter_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_inpatient,number_diagnoses,number_outpatient_boxcox,number_inpatient_boxcox,number_outpatient_treated,number_inpatient_treated
count,8.500000e+04,85000.000000,85000.000000,85000.000000,85000.000000,85000.000000,85000.000000,85000.000000,85000.000000,85000.000000,85000.000000,85000.000000
mean,1.304736e+08,4.451612,43.289471,1.334894,15.645718,0.344929,0.631271,7.279941,0.025882,0.129595,0.161555,0.324850
std,6.857767e+07,3.015638,19.229168,1.687531,7.382708,1.222098,1.251215,1.959969,0.060284,0.184146,0.416290,0.509695
min,1.252200e+04,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,7.414607e+07,2.000000,32.000000,0.000000,10.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000
50%,1.310813e+08,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,8.000000,0.000000,0.000000,0.000000,0.000000
75%,1.774056e+08,6.000000,57.000000,2.000000,20.000000,0.000000,1.000000,9.000000,0.000000,0.357118,0.000000,0.693147
max,2.687621e+08,14.000000,94.500000,6.000000,35.000000,42.000000,21.000000,9.000000,0.167747,0.457350,3.761200,3.091042

In [140]:
del data['number_outpatient_treated']
del data['number_inpatient_treated']

In [142]:
del data['number_outpatient']

del data['number_inpatient']

In [143]:
data.describe()

,encounter_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_diagnoses,number_outpatient_boxcox,number_inpatient_boxcox
count,8.500000e+04,85000.000000,85000.000000,85000.000000,85000.000000,85000.000000,85000.000000,85000.000000
mean,1.304736e+08,4.451612,43.289471,1.334894,15.645718,7.279941,0.025882,0.129595
std,6.857767e+07,3.015638,19.229168,1.687531,7.382708,1.959969,0.060284,0.184146
min,1.252200e+04,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000
25%,7.414607e+07,2.000000,32.000000,0.000000,10.000000,6.000000,0.000000,0.000000
50%,1.310813e+08,4.000000,44.000000,1.000000,15.000000,8.000000,0.000000,0.000000
75%,1.774056e+08,6.000000,57.000000,2.000000,20.000000,9.000000,0.000000,0.357118
max,2.687621e+08,14.000000,94.500000,6.000000,35.000000,9.000000,0.167747,0.457350

In [146]:
data['weight'].value_counts()

weight
?            82268
[75-100)      1153
[50-75)        781
[100-125)      518
[125-150)      115
[25-50)         82
[0-25)          46
[150-175)       27
[175-200)        8
>200             2
Name: count, dtype: int64

In [147]:
del data['weight']

# Data Preprocessing

In [148]:
# Check for unique values in categorical columns
categorical_columns = data.select_dtypes(include=['object']).columns
print(len(categorical_columns))
for col in categorical_columns:
    print(f"{col}: {data[col].unique()}")

36
race: ['Caucasian' 'AfricanAmerican' 'Other' 'Asian' 'Hispanic']
gender: ['Female' 'Male']
age: ['[80-90)' '[90-100)' '[40-50)' '[50-60)' '[60-70)' '[70-80)' '[20-30)'
 '[10-20)' '[30-40)' '[0-10)']
payer_code: ['Other' 'MC' 'MD' 'HM' 'UN' 'BC' 'SP' 'CP' 'SI' 'DM' 'CM' 'CH' 'PO' 'WC'
 'OT' 'OG' 'MP']
number_emergency: [False True]
diag_1: ['398' '434' '197' '250.7' '414' '157' '428' '518' '648' '999' '410' '682'
 '402' '737' '276' '572' 'V57' '189' '786' '427' '996' '277' '584' '462'
 '473' '411' '174' '486' '998' '511' '432' '626' '295' '8' '196' '250.6'
 '618' '182' '845' '423' '808' '250.4' '722' '403' '250.11' '784' '707'
 '440' '151' '715' '997' '198' '564' '812' '38' '590' '556' '578' '250.32'
 '433' 'V58' '569' '185' '536' '255' '250.13' '599' '558' '574' '250.83'
 '491' '560' '244' '250.03' '577' '730' '188' '824' '250.8' '332' '562'
 '291' '296' '510' '401' '263' '438' '70' '250.02' '493' '642' '625' '571'
 '738' '593' '250.42' '807' '456' '446' '575' '250.41' '820' '515' '780'
 '250.22' '995' '235' '250.82' '721' '787' '162' '724' '282' '514' 'V55'
 '281' '250.33' '530' '466' '435' '250.12' 'V53' '789' '566' '822' '191'
 '557' '733' '455' '711' '482' '202' '280' '553' '225' '154' '441'
 '250.81' '349' '?' '962' '592' '507' '386' '156' '200' '728' '348' '459'
 '426' '388' '607' '337' '82' '531' '596' '288' '656' '573' '492' '220'
 '516' '210' '922' '286' '885' '958' '661' '969' '250.93' '227' '112'
 '404' '823' '532' '416' '346' '535' '453' '250' '595' '211' '303'
 '250.01' '852' '218' '782' '540' '457' '285' '431' '340' '550' '54' '351'
 '601' '723' '555' '153' '443' '380' '204' '424' '241' '358' '694' '331'
 '345' '681' '447' '290' '158' '579' '436' '335' '309' '654' '805' '799'
 '292' '183' '78' '851' '458' '586' '311' '892' '305' '293' '415' '591'
 '794' '803' '79' '655' '429' '278' '658' '598' '729' '585' '444' '604'
 '727' '214' '552' '284' '680' '708' '41' '644' '481' '821' '413' '437'
 '968' '756' '632' '359' '275' '512' '781' '420' '368' '522' '294' '825'
 '135' '304' '320' '250.31' '669' '868' '496' '250.43' '826' '567' '3'
 '203' '53' '251' '565' '161' '495' '49' '250.1' '297' '663' '576' '355'
 '850' '287' '250.2' '611' '840' '350' '726' '537' '620' '180' '366' '783'
 '11' '751' '716' '250.3' '199' '464' '580' '836' '664' '283' '813' '966'
 '289' '965' '184' '480' '608' '333' '972' '212' '117' '788' '924' '959'
 '621' '238' '785' '714' '942' '250.23' '710' '47' '933' '508' '478' '844'
 '7' '736' '233' '42' '250.5' '397' '395' '201' '421' '253' '250.92' '600'
 '494' '977' '39' '659' '312' '614' '647' '652' '646' '274' '861' '425'
 '527' '451' '485' '217' '250.53' '442' '970' '193' '160' '322' '581'
 '475' '623' '374' '582' '568' '465' '801' '237' '376' '150' '461' '913'
 '226' '617' '987' '641' '298' '790' '336' '362' '228' '513' '383' '746'
 '353' '911' '506' '873' '155' '860' '534' '802' '141' 'V45' '396' '310'
 '341' '242' '719' '239' '533' '616' '519' '301' 'V66' '5' '989' '230'
 '385' '300' '853' '871' '570' '848' '463' '9' '934' '250.21' '236' '361'
 '594' '501' '810' '643' '430' '528' '205' '791' '983' '992' '490' '172'
 '171' '622' '306' '863' '864' '474' '660' '759' '356' '634' '967' '551'
 '695' '187' '732' '747' '323' '308' '370' '252' '152' '846' '164' '365'
 '718' '48' '266' '720' '94' '344' '797' '170' '878' '904' 'V56' '882'
 '843' '709' '973' '454' '686' '939' '487' '229' '991' '483' '357' '692'
 '796' '693' '935' '936' '800' '920' 'V26' '261' '307' '262' '250.9' '831'
 '145' '223' 'V71' '839' '685' 'V54' '35' '34' '179' '964' '136' '324'
 '389' '815' '334' '143' '526' '588' '192' 'V67' '394' '917' '88' '219'
 '325' '792' '717' '994' '990' '793' '207' '637' '195' '373' '847' '827'
 '31' '891' '814' 'V60' '703' '865' '352' '627' '378' '342' '886' '369'
 '745' '705' '816' '541' '986' '610' '633' '640' '753' '173' '835' '379'
 '445' '272' '382' '945' '619' '881' '250.52' '866' '405' '916' '215'
 '893' '75' '671' '928' '906' '897' '725' '867' '115' '890' '734' '521'
 '674' '470' '834' '146' '696' '524' '980' '691' '384' '142' '879'
 '250.51' '246' '208' '448' '955' '653' '149' '245' '735' '883' '854'
 '952' '838' '194' 'V43' '163' '216' '147' '354' '27' '477' '318' '880'
 '921' '377' '471' '683' '175' '602' '250.91' '982' '706' '375' '417'
 '131' '347' '870' '148' '862' '61' '817' '914' '360' '684' '314' 'V63'
 '36' '57' '240' '915' '971' '795' '988' '452' '963' '327' '731' '842'
 'V25' '645' '665' '110' '944' '603' '923' '412' '363' '957' '976' '698'
 '299' '700' '273' '974' '97' '529' '66' '98' '605' '941' '52' '806' '84'
 '271' '837' '657' '895' '338' '523' '542' '114' '543' '372' 'V70' 'E909'
 '583' 'V07' '422' '615' '279' '500' '903' '919' '875']
diag_2: ['427' '198' '157' '403' '411' '288' '250.43' '998' '492' '250' '507'
 '174' '425' '250.01' '456' '401' '715' '496' '428' '585' '250.02' '410'
 '999' '996' '135' '244' '41' '571' '276' '997' '599' '424' '491' '553'
 '707' '286' '440' '493' '242' '70' 'V45' '250.03' '357' '?' '511' '196'
 '396' '197' '414' '250.52' '577' '535' '413' '285' '53' '780' '518' '150'
 '566' '250.6' '867' '486' 'V15' '8' '788' '340' '574' '581' '228' '530'
 '250.82' '786' '294' '567' '785' '512' '305' '729' '250.51' '280' '648'
 '560' '618' '444' '38' 'V10' '578' '277' '781' '250.42' '278' '426' '584'
 '462' '402' '153' '272' '733' '34' '881' '203' '250.41' '250.13' '293'
 '245' '250.12' '558' '787' '342' '573' '626' '303' '250.53' '458' '710'
 '415' 'V42' '284' '569' '759' '682' '112' '292' '435' '290' '250.93'
 '642' '536' '398' '319' '711' 'E878' '446' '255' 'V44' '250.7' '784'
 '300' '562' '162' '287' '447' '789' '790' '591' '200' '154' '304' '117'
 '847' '852' '250.83' '250.11' '816' '575' '416' '412' '441' '515' '372'
 '482' '382' 'V65' '572' '283' '78' '250.81' '576' '432' '595' '295' 'V12'
 '204' '466' '721' '434' '590' '271' '813' '368' '227' '783' '250.5' '258'
 '253' '309' '250.91' '519' '333' '459' '250.92' '250.4' '179' '420' '345'
 '433' '661' '537' '205' '722' '405' '437' '714' '211' 'E812' '263' '202'
 '397' '250.23' 'E932' '201' '301' '723' '614' '568' '861' 'V57' '724'
 '189' '297' '453' 'E888' '730' '354' '451' '738' 'E939' '805' 'V43' '155'
 '910' '218' '358' '220' 'E937' '583' '958' '794' '564' '436' '250.22'
 '620' '621' '331' '617' '596' '314' '378' '250.8' '625' '478' '731' '172'
 '404' '681' '470' '279' '281' '531' '443' '799' '337' '311' '719' 'E944'
 '423' 'E870' '465' 'E849' '782' '481' '480' 'V23' '199' '79' '438' '348'
 '42' 'E950' '473' '627' '726' '54' '490' '317' '332' '508' '369' '600'
 '349' '485' '208' '922' '431' '296' 'E934' '753' 'E935' '386' '728' '607'
 'E915' '344' '716' '289' '191' '873' '850' '611' '377' '352' '616' 'V17'
 '136' '455' '933' 'E885' '860' '513' '603' '484' '223' 'V72' '291' '151'
 'V58' '550' '510' '891' '185' '592' '791' '138' '598' '336' '362' '217'
 '825' '298' '821' 'E880' '343' '429' 'E879' '579' '225' '250.9' 'V49'
 '696' '233' '658' '969' '275' '250.1' '601' '704' '808' 'E890' 'V18'
 '920' '380' '570' 'E817' '359' '812' '274' 'V14' '324' '758' 'V66' '911'
 'E931' 'E924' '593' '792' '727' 'V46' '394' '532' 'V64' '557' '864' '718'
 'E942' '807' '604' '924' '820' '580' '273' '241' '282' '824' 'V61' '646'
 '701' '736' '565' '383' '250.2' 'E947' '452' '872' '905' 'E930' '921'
 '131' '448' '389' '421' '214' '705' '494' '752' '623' '9' '299' '959'
 '365' '967' 'E858' '40' '691' '909' '5' '814' '746' '250.31' '556' '680'
 '745' '351' '306' '110' '695' '552' '346' '918' '882' '947' '520' '188'
 '31' '356' '737' 'V08' '322' '182' '517' '974' 'E929' 'V53' '912' '252'
 '608' '516' 'E933' '94' '702' '923' '594' '647' '111' '934' '430' '487'
 '709' '796' '156' '977' '915' '756' '840' '341' '259' '693' '725' 'V62'
 '528' '683' '953' '457' '501' 'E900' 'V09' '522' '919' '461' '506' '193'
 '483' 'E936' '717' '802' '335' 'V54' '320' '945' '906' '239' '454' '826'
 '823' 'E941' '226' '795' '684' '844' '250.33' '308' '615' '588' '712'
 '663' '706' '833' '741' '713' '533' 'E884' '586' '555' '755' 'E928' '742'
 '869' '962' 'V11' '543' '373' '870' '913' '152' '810' '965' '907' '908'
 '995' '845' '474' '442' '751' '323' '472' '464' '686' '250.32' '540'
 '251' '811' '652' '659' '851' '422' '815' '307' '325' '463' '992' '692'
 '521' '917' 'E965' '524' '916' 'E813' '173' '238' '137' '514' '312' '837'
 '355' '980' '622' '475' '500' '754' '261' '801' '868' '968' '381' '11'
 '250.21' '694' '610' '734' 'E814' '310' '130' '246' '892' '846' '634'
 '75' 'E927' 'E905' '183' '379' 'E917' '163' 'E868' '495' '747' '989'
 'E854' '240' '832' '605' '602' '644' 'V16' '35' 'V70' '376' '266' 'E918'
 '619' '477' '656' '46' '883' '171' 'V13' '698' '842' 'E850' '800' '269'
 '664' 'E887' '952' '164' 'E881' '527' '685' '366' '836' '27' 'V63' '865'
 '793' '232' '990' '52' '831' '327' '542' '806' '972' '862' 'E829' 'E919'
 '944' 'E916' '963' '316' '645' '347' 'V85' '374' 'V02' '748' '256' '186'
 '866' '975' '96' '395' '262' 'E819' '654' '994' '318' 'E826' '879' '674'
 '641' '822' '145' '797' '353' 'E938' 'E816' '948' '987' '99' '192'
 '250.3' 'E906' '534' '115' 'E818' 'E980' '360' '338' '529' '871' '750'
 '212' '302' '955' '141' '88' 'V25' '215' '350' 'V50' 'V03' 'E853' 'E968'
 'E882' '140' '703']
diag_3: ['38' '486' '250' '996' '197' '250.6' '427' 'V45' '627' 'V27' '414' '416'
 '714' '255' '428' '582' 'V43' '250.01' '263' '250.42' '276' '482' '401'
 '250.41' '585' '781' '278' '998' '403' '568' '682' '618' '250.02' '305'
 '707' '496' '599' '715' '?' '424' '518' '553' '794' '411' 'V42' '531'
 '511' '490' '562' '250.8' '250.7' '250.52' '784' '491' '581' '420' '8'
 '724' '730' '789' '131' '250.82' '999' '41' '493' '250.03' '753' '786'
 '529' 'E888' '425' '595' '303' '560' '711' '492' '332' '296' '438' '362'
 '250.4' '654' '244' 'V70' '737' '625' '681' '250.51' '404' 'V10' '810'
 '280' '440' '785' '588' '569' '272' '997' '250.43' '918' '584' '54' '788'
 '426' '722' '250.92' '196' '461' '535' '787' '891' '284' '458' '648'
 '780' '182' '285' '593' '413' '664' '564' '201' '356' 'V15' '292' '782'
 '473' '455' 'E932' '357' '348' '294' '250.23' '459' 'E878' '437' '733'
 '507' '525' '250.53' '397' '572' '805' '453' '331' '736' '402' '591'
 '576' '465' '533' '703' '349' '315' '658' '608' '578' '716' '382' '300'
 '282' '571' '536' '596' '287' '644' 'V11' '558' 'E885' '162' '198' '218'
 '412' '396' 'V14' '570' '433' 'E934' '882' '288' '577' '443' '729' '836'
 '295' '799' '281' '304' '153' '410' '616' '250.83' '601' '291' '75' '512'
 '660' '250.5' '598' '337' '574' '653' 'V58' '311' '415' '386' '602' '790'
 '112' '873' '620' '436' '70' '155' '138' '663' '530' '710' '42' '342'
 '250.91' 'E884' '515' '307' '704' '728' '731' '583' '238' '441' '293'
 '573' '532' '290' '594' '319' '250.13' '250.12' '519' '346' '380' '135'
 '642' '698' '924' '905' 'E933' '555' '309' 'E879' '286' '565' '752' '580'
 '446' '444' '344' '252' '35' '813' '394' '301' '575' '258' 'V17' '802'
 '435' '746' 'V12' '709' '881' 'E935' '139' '250.81' '718' '365' '202'
 '334' '185' '398' 'V44' '517' 'E849' '614' '466' '626' '250.9' '368'
 '605' '883' '289' '478' '617' '429' '442' 'V25' '866' '610' '557' '959'
 'E942' '94' '920' '345' '313' '379' '79' '516' '586' '821' '600' '242'
 '373' '592' 'V64' '487' '253' '706' 'E947' '117' '340' 'E950' '656'
 'E949' '590' 'V09' '250.22' '934' '694' '203' '250.93' '995' '726' '923'
 '958' '275' 'E929' '211' 'V18' 'V66' '199' '665' '53' '279' '522' '791'
 '890' '456' 'E938' 'E816' '122' '721' 'V65' '136' '480' '423' 'E920'
 '793' '647' '537' '351' '845' '336' '274' '719' '945' '434' '494' '227'
 '157' '208' '174' 'V57' '812' '734' '150' 'V23' '447' '692' '228' 'V16'
 '756' '405' 'E928' '823' '552' '528' '389' '240' '454' '792' '366' 'E939'
 '907' '270' '310' '266' '387' 'E931' '783' '245' '607' '355' 'E930' '705'
 '372' '369' '611' '283' 'V46' '110' '867' 'E956' '251' '250.2' '820'
 '712' '695' '567' '343' '723' 'V08' '273' '623' '807' '451' '495' '701'
 '34' 'V53' '314' '472' 'E945' '11' '189' '534' '354' '333' 'V54' '277'
 '659' '708' '452' '655' '816' '670' '621' '246' '953' '865' 'E817' '646'
 '151' '378' '78' '298' '840' '641' '521' '745' '619' '912' '506' 'E904'
 '259' 'E870' 'E980' '383' '204' '696' '566' '727' '47' 'E943' '358' '191'
 '965' '921' '432' '27' 'E861' '758' '477' '524' '751' '652' '556' '188'
 '825' '919' '732' '908' '951' '962' '685' 'E850' 'E944' '527' '341' '693'
 '250.1' 'V49' '860' '323' 'V55' '579' '508' '969' '205' '462' 'E880'
 '680' '697' '826' '200' '457' '717' '738' '742' '735' '235' '308' '725'
 '241' '824' '464' '260' '917' '239' '661' '892' '261' 'E883' '943' '744'
 'E936' '796' '318' '967' '350' '854' 'E905' '9' '741' 'E941' '170' '643'
 '317' '759' '909' 'V22' '831' '713' '180' '801' '360' '359' '501' '335'
 '250.11' '306' '811' '690' 'V02' '271' '214' '847' '543' 'V63' '906'
 '842' '686' '445' '808' '861' 'E852' '220' 'E887' 'E858' '915' '970'
 '256' '747' '395' '243' '815' '481' '5' 'E927' '297' '299' '851' '864'
 '922' '384' 'E876' '225' '158' 'E937' '871' '88' '966' 'E917' 'E812'
 'V62' 'E924' '604' '233' 'E916' '377' '797' 'V72' '172' '7' '421' '852'
 'E819' '972' '916' '956' '3' 'E965' '173' '193' '154' '347' '862' '250.3'
 '987' '470' '262' 'E855' '161' '115' '179' '910' '312' '17' '460' '265'
 '66' '163' 'V60' '870' 'E906' '514' '944' '844' '417' '152' '183' '991'
 '216' '385' '164' '935' '510' '814' '485' '850' '250.21' 'E919' '872'
 '195' '431' '597' '933' '171' '884' '156' '868' '483' 'E815' '542' 'V61'
 '853' '374' 'E881' 'E882' 'E822' '192' '754' '327' '523' '500' 'V85'
 '992' '657' '684' '603' 'E826' '550' '913' '376' '755' '361' '186' '720'
 '250.31' '674' '911' 'E813' '226' '365.44' 'E818' '146' '955' 'E894'
 '475' 'V13' '880' '930' 'E915' '381' '132' '353' '795' '893' 'V01' 'E853'
 '863' '540' 'E828' '430' '800' 'E865' '148' 'E946' '822' '879' '848'
 'V86' 'V03' '338' '989' '388' 'E966' '111' 'E922' '123' '757' 'E901'
 '141' '268' 'E892' '649' '702' '948' '223' '484' 'E886' '838' '928' '236'
 '624' '837' 'E987' 'V07' '841' '622']
metformin: ['No' 'Steady' 'Up' 'Down']
repaglinide: ['No' 'Up' 'Steady' 'Down']
nateglinide: ['No' 'Steady' 'Down' 'Up']
chlorpropamide: ['No' 'Steady' 'Down' 'Up']
glimepiride: ['No' 'Steady' 'Down' 'Up']
acetohexamide: ['No' 'Steady']
glipizide: ['Steady' 'No' 'Up' 'Down']
glyburide: ['No' 'Up' 'Steady' 'Down']
tolbutamide: ['No' 'Steady']
pioglitazone: ['No' 'Steady' 'Up' 'Down']
rosiglitazone: ['No' 'Steady' 'Up' 'Down']
acarbose: ['No' 'Steady' 'Up' 'Down']
miglitol: ['No' 'Steady' 'Down' 'Up']
troglitazone: ['No' 'Steady']
tolazamide: ['No' 'Steady' 'Up']
insulin: ['Steady' 'Down' 'No' 'Up']
glyburide_metformin: ['No' 'Steady' 'Down' 'Up']
glipizide_metformin: ['No' 'Steady']
glimepiride_pioglitazone: ['No' 'Steady']
metformin_rosiglitazone: ['No']
metformin_pioglitazone: ['No']
change: ['Ch' 'No']
readmitted: ['NO' 'YES']
admission_source_des: ['Transfer from a hospital' 'Emergency Room' 'Clinic Referral'
 'Physician Referral' 'Transfer from a Skilled Nursing Facility (SNF)'
 'Transfer from another health care facility' 'Not Mapped' 'HMO Referral'
 'NULL' 'Court/Law Enforcement' 'Not Available' 'Extramural Birth'
 'Transfer from critial access hospital'
 'Transfer from hospital inpt/same fac reslt in a sep claim'
 'Normal Delivery']
admission_type_desc: ['Urgent' 'Elective' 'Emergency' 'Other']
discharge_desposition_desc: ['Discharged to home' 'Discharged/transferred to SNF'
 'Discharged/transferred to home with home health service'
 'Discharged/transferred to another short term hospital'
 'Discharged/transferred to another type of inpatient care institution'
 'Expired' 'Left AMA' 'Not Mapped'
 'Neonate discharged to another hospital for neonatal aftercare'
 'Discharged/transferred to ICF' 'Hospice / medical facility' 'NULL'
 'Discharged/transferred to home under care of Home IV provider'
 'Hospice / home'
 'Still patient or expected to return for outpatient services'
 'Discharged/transferred/referred another institution for outpatient services'
 'Discharged/transferred/referred to this institution for outpatient services'
 'Discharged/transferred to another rehab fac including rehab units of a hospital .'
 'Discharged/transferred to a long term care hospital.'
 'Admitted as an inpatient to this hospital'
 'Expired in a medical facility. Medicaid only, hospice.'
 'Discharged/transferred within this institution to Medicare approved swing bed'
 'Discharged/transferred to a nursing facility certified under Medicaid but not certified under Medicare.'
 'Discharged/transferred/referred to a psychiatric hospital of psychiatric distinct part unit of a hospital'
 'Expired at home. Medicaid only, hospice.'
 'Discharged/transferred to a federal health care facility.']
discharge_category: ['Discharged to Home' 'Transfers to Other Healthcare Facilities' 'Expired'
 'AMA (Against Medical Advice)' 'Other' 'Hospice Care']
admission_category: ['Transfers from Other Facilities' 'Emergency Admission'
 'Physician Referral' 'Other']

In [149]:
data.drop(columns={'metformin_rosiglitazone','metformin_pioglitazone',
                   'diag_1','diag_2','diag_3','discharge_desposition_desc','admission_source_des' }, inplace=True)

In [152]:
# Check for unique values in categorical columns
categorical_columns = data.select_dtypes(include=['object']).columns
print(len(categorical_columns))
for col in categorical_columns:
    print(f"{col}: {data[col].unique()}")

29
race: ['Caucasian' 'AfricanAmerican' 'Other' 'Asian' 'Hispanic']
gender: ['Female' 'Male']
age: ['80-90' '90-100' '40-50' '50-60' '60-70' '70-80' '20-30' '10-20' '30-40'
 '0-10']
payer_code: ['Other' 'MC' 'MD' 'HM' 'UN' 'BC' 'SP' 'CP' 'SI' 'DM' 'CM' 'CH' 'PO' 'WC'
 'OT' 'OG' 'MP']
number_emergency: [False True]
metformin: ['No' 'Steady' 'Up' 'Down']
repaglinide: ['No' 'Up' 'Steady' 'Down']
nateglinide: ['No' 'Steady' 'Down' 'Up']
chlorpropamide: ['No' 'Steady' 'Down' 'Up']
glimepiride: ['No' 'Steady' 'Down' 'Up']
acetohexamide: ['No' 'Steady']
glipizide: ['Steady' 'No' 'Up' 'Down']
glyburide: ['No' 'Up' 'Steady' 'Down']
tolbutamide: ['No' 'Steady']
pioglitazone: ['No' 'Steady' 'Up' 'Down']
rosiglitazone: ['No' 'Steady' 'Up' 'Down']
acarbose: ['No' 'Steady' 'Up' 'Down']
miglitol: ['No' 'Steady' 'Down' 'Up']
troglitazone: ['No' 'Steady']
tolazamide: ['No' 'Steady' 'Up']
insulin: ['Steady' 'Down' 'No' 'Up']
glyburide_metformin: ['No' 'Steady' 'Down' 'Up']
glipizide_metformin: ['No' 'Steady']
glimepiride_pioglitazone: ['No' 'Steady']
change: ['Ch' 'No']
readmitted: ['NO' 'YES']
admission_type_desc: ['Urgent' 'Elective' 'Emergency' 'Other']
discharge_category: ['Discharged to Home' 'Transfers to Other Healthcare Facilities' 'Expired'
 'AMA (Against Medical Advice)' 'Other' 'Hospice Care']
admission_category: ['Transfers from Other Facilities' 'Emergency Admission'
 'Physician Referral' 'Other']

In [151]:
# Function to clean the age column using regex
def clean_age_column(age_series):
    return age_series.str.replace(r'[\[\]() ]', '', regex=True)

# Cleaning the age column
data['age'] = clean_age_column(data['age'])
data.head()

,encounter_id,race,gender,age,time_in_hospital,payer_code,num_lab_procedures,num_procedures,num_medications,number_emergency,number_diagnoses,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,insulin,glyburide_metformin,glipizide_metformin,glimepiride_pioglitazone,change,diabetesMed,readmitted,admission_type_desc,discharge_category,admission_category,number_outpatient_boxcox,number_inpatient_boxcox
0,12522,Caucasian,Female,80-90,13,Other,68.0,2,28.0,False,8,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,Steady,No,No,No,Ch,True,NO,Urgent,Discharged to Home,Transfers from Other Facilities,0.0,0.0
1,15738,Caucasian,Female,90-100,12,Other,33.0,3,18.0,False,8,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,Steady,No,No,No,Ch,True,NO,Elective,Transfers to Other Healthcare Facilities,Transfers from Other Facilities,0.0,0.0
2,16680,Caucasian,Male,40-50,1,Other,51.0,0,8.0,False,5,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,Steady,No,No,No,Ch,True,NO,Emergency,Discharged to Home,Emergency Admission,0.0,0.0
3,28236,AfricanAmerican,Female,40-50,9,Other,47.0,2,17.0,False,9,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,True,YES,Emergency,Discharged to Home,Emergency Admission,0.0,0.0
4,35754,Caucasian,Male,50-60,3,Other,31.0,6,16.0,False,9,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,True,YES,Urgent,Discharged to Home,Physician Referral,0.0,0.0

In [153]:
# Convert the target variable to binary (0 for NO, 1 for YES)
data['readmitted'] = data['readmitted'].map({'NO': 0, 'YES': 1})

In [155]:
# Calculate the total count of events (YES) and non-events (NO)
total_events = data['readmitted'].sum()
total_non_events = data['readmitted'].count() - total_events

In [156]:
# Calculate WoE and IV
def calculate_woe_iv(df, feature, target):
    # Create a dataframe to hold the counts
    woe_iv = pd.DataFrame()
    
    # Group by the feature and calculate the count of events and non-events
    woe_iv['total'] = df.groupby(feature)[target].count()
    woe_iv['events'] = df.groupby(feature)[target].sum()
    woe_iv['non_events'] = woe_iv['total'] - woe_iv['events']
    
    # Calculate event and non-event rates
    woe_iv['event_rate'] = woe_iv['events'] / total_events
    woe_iv['non_event_rate'] = woe_iv['non_events'] / total_non_events
    
    # Calculate WoE
    woe_iv['woe'] = np.log(woe_iv['event_rate'] / woe_iv['non_event_rate'])
    
    # Calculate IV
    woe_iv['iv'] = (woe_iv['event_rate'] - woe_iv['non_event_rate']) * woe_iv['woe']
    
    # Return the DataFrame with WoE and IV
    return woe_iv

In [158]:
# Calculate WoE and IV for the payer_code column
woe_iv_results = calculate_woe_iv(data, 'payer_code', 'readmitted')

# Display results
woe_iv_results

,total,events,non_events,event_rate,non_event_rate,woe,iv
payer_code,,,,,,,
BC,3498,1401,2097,0.034621,0.047089,-0.307578,3.834841e-03
CH,64,22,42,0.000544,0.000943,-0.550884,2.200603e-04
CM,1317,634,683,0.015667,0.015337,0.021298,7.031361e-06
CP,1940,826,1114,0.020412,0.025015,-0.203374,9.362248e-04
DM,423,223,200,0.005511,0.004491,0.204598,2.086105e-04
HM,4741,2257,2484,0.055774,0.055779,-0.000090,4.518488e-10
MC,25019,12657,12362,0.312773,0.277592,0.119327,4.198094e-03
MD,2558,1314,1244,0.032471,0.027934,0.150488,6.826962e-04
MP,41,23,18,0.000568,0.000404,0.340866,5.595989e-05
OG,725,341,384,0.008427,0.008623,-0.023016,4.515816e-06
OT,59,34,25,0.000840,0.000561,0.403228,1.124238e-04
Other,38013,17762,20251,0.438926,0.454741,-0.035399,5.598692e-04
PO,443,149,294,0.003682,0.006602,-0.583890,1.704861e-03
SI,54,24,30,0.000593,0.000674,-0.127400,1.026612e-05
SP,3848,1963,1885,0.048509,0.042328,0.136290,8.423389e-04
UN,2152,810,1342,0.020016,0.030135,-0.409138,4.139927e-03
WC,105,27,78,0.000667,0.001752,-0.965128,1.046488e-03

In [159]:
# Calculate total IV
total_iv = woe_iv_results['iv'].sum()
print(f'Total IV for payer_code: {total_iv}')

Total IV for payer_code: 0.01856420866609557

In [161]:
# Calculate WoE and IV for the age column
woe_iv_results_age = calculate_woe_iv(data, 'age', 'readmitted')

In [164]:
woe_iv_results_age

,total,events,non_events,event_rate,non_event_rate,woe,iv
age,,,,,,,
0-10,155,28,127,0.000692,0.002852,-1.416239,0.003059
10-20,612,242,370,0.005980,0.008308,-0.328822,0.000766
20-30,1410,662,748,0.016359,0.016797,-0.026394,0.000012
30-40,3218,1426,1792,0.035239,0.040240,-0.132715,0.000664
40-50,8279,3810,4469,0.094151,0.100353,-0.063792,0.000396
50-60,14538,6574,7964,0.162453,0.178834,-0.096065,0.001574
60-70,18602,8915,9687,0.220303,0.217524,0.012694,0.000035
70-80,21929,10923,11006,0.269924,0.247143,0.088174,0.002009
80-90,14013,6974,7039,0.172338,0.158063,0.086466,0.001234
90-100,2244,913,1331,0.022562,0.029888,-0.281206,0.002060

In [165]:
# Create a mapping dictionary from payer_code to WoE values
woe_mapping = woe_iv_results_age['woe'].to_dict()

# Replace the original payer_code values with their corresponding WoE values
data['age_woe'] = data['age'].map(woe_mapping)

# Check the updated DataFrame
data[['age', 'age_woe']].head()

      age   age_woe
0   80-90  0.086466
1  90-100 -0.281206
2   40-50 -0.063792
3   40-50 -0.063792
4   50-60 -0.096065

In [166]:
woe_iv_results_discharge_category = calculate_woe_iv(data, 'discharge_category', 'readmitted')
woe_iv_results_discharge_category

d:\MPS ANALYTICS\Q3\ALY6040\FinalProject\diabetes_1999-2008\.venv\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,total,events,non_events,event_rate,non_event_rate,woe,iv
discharge_category,,,,,,,
AMA (Against Medical Advice),517,262,255,0.006474,0.005726,0.122825,0.000092
Discharged to Home,60599,29393,31206,0.726345,0.700739,0.035890,0.000919
Expired,1420,0,1420,0.000000,0.031886,-inf,inf
Hospice Care,563,62,501,0.001532,0.011250,-1.993728,0.019375
Other,4688,1962,2726,0.048484,0.061213,-0.233127,0.002967
Transfers to Other Healthcare Facilities,17213,8788,8425,0.217165,0.189186,0.137927,0.003859

In [169]:
data.shape

(85000, 39)

In [170]:
data.to_csv('../data/interim/Final_data.csv')